In [1]:
#import important libraries

import pandas as pd
import geopandas as gpd
import numpy as np

## CSV from Den Haag Cijfers

In [2]:
#path to the csv file

csv_cijfers = 'data/den_haag_cijfers_neighbourhoods.csv'

In [3]:
csv_dhc = pd.read_csv(csv_cijfers)

In [4]:
csv_dhc.shape

(115, 25)

In [5]:
csv_dhc.head(2)

,Buurten,Number of employed persons|2017,Number of employed persons|2018,Number of employed persons|2019,Number of employed persons|2020,Potential labour force|2017,Potential labour force|2018,Potential labour force|2019,Potential labour force|2020,Average number of private cars per address (excluding lease cars)|2017,...,All offences|2019,All offences|2020,% Dutch natives|2017,% Dutch natives|2018,% Dutch natives|2019,% Dutch natives|2020,"Average personal income of individuals, 52 weeks|2017","Average personal income of individuals, 52 weeks|2018","Average personal income of individuals, 52 weeks|2019","Average personal income of individuals, 52 weeks|2020"
0,01 Oud Scheveningen,742.0,799.0,800.0,817.0,1955.0,2003.0,1988.0,2001.0,0.60,...,136.0,115.0,78.2,77.0,76.8,75.5,30000.0,31700.0,NaN,NaN
1,02 Vissershaven,3101.0,2988.0,3018.0,3006.0,2102.0,2219.0,2414.0,2649.0,0.59,...,392.0,410.0,73.8,72.7,71.5,70.1,34500.0,33800.0,NaN,NaN

### Split the dataset by year

**2017**

In [6]:
#csv_dhc_2017 = csv_dhc.iloc[:, [0, 1, 5, 9, 13, 17, 21]].copy()

In [7]:
#csv_dhc_2017.rename(columns = {"Number of employed persons|2017" : "Number of employed persons", "Potential labour force|2017" : "Potential labour force", "Average number of private cars per address (excluding lease cars)|2017" : "Average number of private cars per address (excluding lease cars)", "All offences|2017" : "All offences", "% Dutch natives|2017" : "% Dutch natives", "Average personal income of individuals, 52 weeks|2017" : "Average personal income of individuals, 52 weeks"}, inplace = True)

In [8]:
#csv_dhc_2017["Year"] = 2017

In [9]:
# function that returns only the names of the neighbourhoods without the numbers
# column "neigb_cijf" is used
def get_only_names(df, column_name): #column_name must not be a string
    names = []
    for name in df[column_name]:
        names_aux = name.split(' ') #splits each entrace of "neigb_cijf" column based on the spaces between elements
        names_aux.pop(0) #removes the first element of the newly created list wich is a the number to remove
        names_aux_joined = ' '.join(names_aux) #joins the other elements on the list (this list no longer contains the number)
        names.append(names_aux_joined)
    del df[column_name]
    df["Neighbourhood"] = names

In [10]:
#get_only_names(csv_dhc_2017, "Buurten")

In [11]:
#csv_dhc_2017.head()

*Last line deleted, since it doesn't add anything.

In [12]:
#csv_dhc_2017.tail(2)

In [13]:
#csv_dhc_2017.tail(2).isnull()

In [14]:
#csv_dhc_2017.drop(index=114, axis=0, inplace=True)

In [15]:
#csv_dhc_2017.tail(2)

**2018**

In [16]:
csv_dhc_2018 = csv_dhc.iloc[:, [0, 2, 6, 10, 14, 18,22]].copy()

In [17]:
csv_dhc_2018.rename(columns = {"Number of employed persons|2018" : "Number of employed persons", "Potential labour force|2018" : "Potential labour force", "Average number of private cars per address (excluding lease cars)|2018" : "Average number of private cars per address (excluding lease cars)", "All offences|2018" : "All offences", "% Dutch natives|2018" : "% Dutch natives", "Average personal income of individuals, 52 weeks|2018" : "Average personal income of individuals, 52 weeks"}, inplace = True)

In [18]:
csv_dhc_2018["Year"] = 2018

In [19]:
get_only_names(csv_dhc_2018, "Buurten")

In [20]:
csv_dhc_2018.head()

,Number of employed persons,Potential labour force,Average number of private cars per address (excluding lease cars),All offences,% Dutch natives,"Average personal income of individuals, 52 weeks",Year,Neighbourhood
0,799.0,2003.0,0.61,106.0,77.0,31700.0,2018,Oud Scheveningen
1,2988.0,2219.0,0.62,371.0,72.7,33800.0,2018,Vissershaven
2,2845.0,3736.0,0.58,459.0,66.3,37600.0,2018,Scheveningen Badplaats
3,1673.0,2427.0,0.55,204.0,66.0,34300.0,2018,Visserijbuurt
4,910.0,406.0,0.76,60.0,58.6,79300.0,2018,v Stolkpark/Schev Bosjes

*Last line deleted, since it doesn't add anything.

In [21]:
csv_dhc_2018.tail(2)

,Number of employed persons,Potential labour force,Average number of private cars per address (excluding lease cars),All offences,% Dutch natives,"Average personal income of individuals, 52 weeks",Year,Neighbourhood
113,687.0,1762.0,1.13,54.0,56.3,43500.0,2018,Rietbuurt
114,NaN,NaN,NaN,NaN,NaN,197200.0,2018,

In [22]:
csv_dhc_2018.tail(2).isnull()

,Number of employed persons,Potential labour force,Average number of private cars per address (excluding lease cars),All offences,% Dutch natives,"Average personal income of individuals, 52 weeks",Year,Neighbourhood
113,False,False,False,False,False,False,False,False
114,True,True,True,True,True,False,False,False

In [23]:
csv_dhc_2018.drop(index=114, axis=0, inplace=True)

In [24]:
csv_dhc_2018.tail(2)

,Number of employed persons,Potential labour force,Average number of private cars per address (excluding lease cars),All offences,% Dutch natives,"Average personal income of individuals, 52 weeks",Year,Neighbourhood
112,1185.0,5773.0,1.17,165.0,63.0,38900.0,2018,De Vissen
113,687.0,1762.0,1.13,54.0,56.3,43500.0,2018,Rietbuurt

**2019**

In [25]:
csv_dhc_2019 = csv_dhc.iloc[:, [0, 3, 7, 11, 15, 19, 23]].copy()

In [26]:
csv_dhc_2019.rename(columns = {"Number of employed persons|2019" : "Number of employed persons", "Potential labour force|2019" : "Potential labour force", "Average number of private cars per address (excluding lease cars)|2019" : "Average number of private cars per address (excluding lease cars)", "All offences|2019" : "All offences", "% Dutch natives|2019" : "% Dutch natives", "Average personal income of individuals, 52 weeks|2019" : "Average personal income of individuals, 52 weeks"}, inplace = True)

In [27]:
csv_dhc_2019["Year"] = 2019

In [28]:
get_only_names(csv_dhc_2019, "Buurten")

In [29]:
csv_dhc_2019.head()

,Number of employed persons,Potential labour force,Average number of private cars per address (excluding lease cars),All offences,% Dutch natives,"Average personal income of individuals, 52 weeks",Year,Neighbourhood
0,800.0,1988.0,0.60,136.0,76.8,NaN,2019,Oud Scheveningen
1,3018.0,2414.0,0.62,392.0,71.5,NaN,2019,Vissershaven
2,2795.0,3790.0,0.59,421.0,65.9,NaN,2019,Scheveningen Badplaats
3,1680.0,2446.0,0.56,197.0,64.8,NaN,2019,Visserijbuurt
4,897.0,417.0,0.75,76.0,56.4,NaN,2019,v Stolkpark/Schev Bosjes

*Last line deleted, since it doesn't add anything.

In [30]:
csv_dhc_2019.tail(2)

,Number of employed persons,Potential labour force,Average number of private cars per address (excluding lease cars),All offences,% Dutch natives,"Average personal income of individuals, 52 weeks",Year,Neighbourhood
113,724.0,1786.0,1.12,84.0,54.4,NaN,2019,Rietbuurt
114,NaN,NaN,NaN,NaN,NaN,NaN,2019,

In [31]:
csv_dhc_2019.tail(2).isnull()

,Number of employed persons,Potential labour force,Average number of private cars per address (excluding lease cars),All offences,% Dutch natives,"Average personal income of individuals, 52 weeks",Year,Neighbourhood
113,False,False,False,False,False,True,False,False
114,True,True,True,True,True,True,False,False

In [32]:
csv_dhc_2019.drop(index=114, axis=0, inplace=True)

In [33]:
csv_dhc_2019.tail(2)

,Number of employed persons,Potential labour force,Average number of private cars per address (excluding lease cars),All offences,% Dutch natives,"Average personal income of individuals, 52 weeks",Year,Neighbourhood
112,1238.0,5868.0,1.20,56.0,62.1,NaN,2019,De Vissen
113,724.0,1786.0,1.12,84.0,54.4,NaN,2019,Rietbuurt

**2020**

In [34]:
csv_dhc_2020 = csv_dhc.iloc[:, [0, 4, 8, 12, 16, 20, 24]].copy()

In [35]:
csv_dhc_2020.rename(columns = {"Number of employed persons|2020" : "Number of employed persons", "Potential labour force|2020" : "Potential labour force", "Average number of private cars per address (excluding lease cars)|2020" : "Average number of private cars per address (excluding lease cars)", "All offences|2020" : "All offences", "% Dutch natives|2020" : "% Dutch natives", "Average personal income of individuals, 52 weeks|2020" : "Average personal income of individuals, 52 weeks"}, inplace = True)

In [36]:
csv_dhc_2020["Year"] = 2020

In [37]:
get_only_names(csv_dhc_2020, "Buurten")

In [38]:
csv_dhc_2020.head()

,Number of employed persons,Potential labour force,Average number of private cars per address (excluding lease cars),All offences,% Dutch natives,"Average personal income of individuals, 52 weeks",Year,Neighbourhood
0,817.0,2001.0,0.60,115.0,75.5,NaN,2020,Oud Scheveningen
1,3006.0,2649.0,0.62,410.0,70.1,NaN,2020,Vissershaven
2,2785.0,3843.0,0.58,420.0,63.9,NaN,2020,Scheveningen Badplaats
3,1687.0,2459.0,0.54,234.0,63.8,NaN,2020,Visserijbuurt
4,895.0,432.0,0.78,63.0,53.4,NaN,2020,v Stolkpark/Schev Bosjes

*Last line deleted, since it doesn't add anything.

In [39]:
csv_dhc_2020.tail(2)

,Number of employed persons,Potential labour force,Average number of private cars per address (excluding lease cars),All offences,% Dutch natives,"Average personal income of individuals, 52 weeks",Year,Neighbourhood
113,737.0,1763.0,1.14,80.0,52.6,NaN,2020,Rietbuurt
114,NaN,NaN,NaN,NaN,NaN,NaN,2020,

In [40]:
csv_dhc_2020.tail(2).isnull()

,Number of employed persons,Potential labour force,Average number of private cars per address (excluding lease cars),All offences,% Dutch natives,"Average personal income of individuals, 52 weeks",Year,Neighbourhood
113,False,False,False,False,False,True,False,False
114,True,True,True,True,True,True,False,False

In [41]:
csv_dhc_2020.drop(index=114, axis=0, inplace=True)

In [42]:
csv_dhc_2020.tail(2)

,Number of employed persons,Potential labour force,Average number of private cars per address (excluding lease cars),All offences,% Dutch natives,"Average personal income of individuals, 52 weeks",Year,Neighbourhood
112,1249.0,5836.0,1.19,176.0,60.6,NaN,2020,De Vissen
113,737.0,1763.0,1.14,80.0,52.6,NaN,2020,Rietbuurt

### Combine all years

In [43]:
csv_dhc_all = pd.concat([csv_dhc_2018, csv_dhc_2019, csv_dhc_2020], ignore_index=True)

In [44]:
csv_dhc_all.shape

(342, 8)

In [45]:
csv_dhc_all[csv_dhc_all["Neighbourhood"] == "Oud Scheveningen"]

,Number of employed persons,Potential labour force,Average number of private cars per address (excluding lease cars),All offences,% Dutch natives,"Average personal income of individuals, 52 weeks",Year,Neighbourhood
0,799.0,2003.0,0.61,106.0,77.0,31700.0,2018,Oud Scheveningen
114,800.0,1988.0,0.60,136.0,76.8,NaN,2019,Oud Scheveningen
228,817.0,2001.0,0.60,115.0,75.5,NaN,2020,Oud Scheveningen

## CSV from CBS

## 2017

In [46]:
#CBS_file_2017 = 'data/kwb-2017.xls'

In [47]:
#CBS_data_2017 = pd.read_excel(CBS_file_2017)

In [48]:
#CBS_den_haag_2017 = CBS_data_2017[CBS_data_2017["gm_naam"] == "'s-Gravenhage"].copy() #'s-Gravenhage == Den Haag
#CBS_den_haag_2017 = CBS_den_haag_2017[CBS_den_haag_2017["recs"] == "Buurt"].copy()

In [49]:
#CBS_den_haag_2017

In [50]:
#"a_opl_md", "m_hh_ver" there is not for this year

In [51]:
#CBS_dh_variables_2017 = CBS_den_haag_2017[["regio","a_inw", "bev_dich", "a_65_oo", "a_1p_hh","a_hh_z_k","a_hh_m_k","a_soz_ao","g_afs_hp","p_hh_lkk"]].copy()

In [52]:
#CBS_dh_variables_2017

In [53]:
#CBS_dh_variables_2017.rename(columns = {"regio" : "Neighbourhood", "a_inw" : "Number of inhabitants", "bev_dich" : "Population density", "a_65_oo" : "65 or older", "a_1p_hh" : "Single person households", "a_hh_z_k" : "Households without children", "a_hh_m_k" : "Households with children", "a_soz_ao" : "Person with disability benefit","g_afs_hp" : "Distance to GP", "p_hh_lkk" : "Low-income households"}, inplace = True)

In [54]:
#CBS_dh_variables_2017["Year"] = 2017

In [55]:
#CBS_dh_variables_2017.head()

## 2018

In [56]:
CBS_file_2018 = 'data/kwb-2018.xls'

In [57]:
CBS_data_2018=pd.read_excel(CBS_file_2018)

In [58]:
CBS_den_haag_2018 = CBS_data_2018[CBS_data_2018["gm_naam"] == "'s-Gravenhage"].copy()
CBS_den_haag_2018 = CBS_den_haag_2018[CBS_den_haag_2018["recs"] == "Buurt"].copy()

In [59]:
CBS_den_haag_2018

,gwb_code_10,gwb_code_8,regio,gm_naam,recs,gwb_code,ind_wbi,a_inw,a_man,a_vrouw,...,g_afs_kv,g_afs_sc,g_3km_sc,a_opp_ha,a_lan_ha,a_wat_ha,pst_mvp,pst_dekp,ste_mvs,ste_oad
7807,BU05180170,5180170,Oostduinen,'s-Gravenhage,Buurt,BU05180170,1,0,0,0,...,NaN,.,.,318,308,10,2597,4,4,682
7809,BU05180271,5180271,Belgisch Park,'s-Gravenhage,Buurt,BU05180271,1,8205,4030,4175,...,"0,4","0,5","10,4",106,106,0,2587,3,2,2446
7811,BU05180373,5180373,Westbroekpark,'s-Gravenhage,Buurt,BU05180373,1,880,395,485,...,"0,7","0,8","17,7",46,41,5,2597,3,2,2089
7812,BU05180374,5180374,Duttendel,'s-Gravenhage,Buurt,BU05180374,1,1075,495,580,...,"0,4","0,4","14,5",133,130,3,2597,1,3,1105
7814,BU05180448,5180448,Nassaubuurt,'s-Gravenhage,Buurt,BU05180448,1,1625,780,840,...,"0,2","0,5","20,7",29,28,0,2596,1,1,3211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7958,BU05184317,5184317,De Rivieren,'s-Gravenhage,Buurt,BU05184317,1,20,10,10,...,"0,5","1,0","11,0",171,166,5,2491,1,3,1172
7960,BU05184418,5184418,De Lanen,'s-Gravenhage,Buurt,BU05184418,1,5255,2670,2585,...,"0,6","0,5","11,2",70,68,2,2493,1,3,1353
7961,BU05184419,5184419,De Velden,'s-Gravenhage,Buurt,BU05184419,1,4220,2140,2075,...,"0,6","0,7","9,4",75,73,3,2492,1,3,1455
7962,BU05184420,5184420,De Vissen,'s-Gravenhage,Buurt,BU05184420,1,8505,4210,4295,...,"0,6","0,5","6,1",129,118,12,2492,1,3,1419
7963,BU05184421,5184421,Rietbuurt,'s-Gravenhage,Buurt,BU05184421,1,2755,1390,1365,...,"0,7","1,2","9,6",102,92,10,2493,1,3,1496

In [61]:
CBS_dh_variables_2018 = CBS_den_haag_2018[["regio","a_inw", "bev_dich", "a_65_oo", "a_1p_hh","a_hh_z_k","a_hh_m_k","a_soz_ao","g_afs_hp","p_hh_lkk","m_hh_ver"]].copy()

In [62]:
CBS_dh_variables_2018

,regio,a_inw,bev_dich,a_65_oo,a_1p_hh,a_hh_z_k,a_hh_m_k,a_soz_ao,g_afs_hp,p_hh_lkk,m_hh_ver
7807,Oostduinen,0,.,0,0,0,0,.,NaN,.,.
7809,Belgisch Park,8205,7747,1655,2115,1000,1095,220,"0,8","7,1","76,0"
7811,Westbroekpark,880,2133,395,225,145,85,20,"0,8","7,1","565,5"
7812,Duttendel,1075,827,375,185,140,150,20,"1,4","4,6","486,6"
7814,Nassaubuurt,1625,5752,330,305,220,235,20,"0,3","5,9","399,5"
...,...,...,...,...,...,...,...,...,...,...,...
7958,De Rivieren,20,14,0,5,5,5,.,"1,2",.,.
7960,De Lanen,5255,7785,230,235,310,1170,160,"1,3","3,8","82,7"
7961,De Velden,4220,5816,410,290,435,825,110,"1,2","4,0","96,0"
7962,De Vissen,8505,7230,1060,580,810,1655,290,"1,2","5,0","85,7"
7963,Rietbuurt,2755,2999,110,195,140,600,70,"0,8","6,9","65,8"

In [63]:
CBS_dh_variables_2018.rename(columns = {"regio" : "Neighbourhood", "a_inw" : "Number of inhabitants", "bev_dich" : "Population density", "a_65_oo" : "65 or older", "a_1p_hh" : "Single person households", "a_hh_z_k" : "Households without children", "a_hh_m_k" : "Households with children", "a_soz_ao" : "Person with disability benefit","g_afs_hp" : "Distance to GP", "p_hh_lkk" : "Low-income households","m_hh_ver" : "Median wealth of private households"}, inplace = True)

In [64]:
CBS_dh_variables_2018["Year"] = 2018

In [65]:
CBS_dh_variables_2018.head()

,Neighbourhood,Number of inhabitants,Population density,65 or older,Single person households,Households without children,Households with children,Person with disability benefit,Distance to GP,Low-income households,Median wealth of private households,Year
7807,Oostduinen,0,.,0,0,0,0,.,NaN,.,.,2018
7809,Belgisch Park,8205,7747,1655,2115,1000,1095,220,"0,8","7,1","76,0",2018
7811,Westbroekpark,880,2133,395,225,145,85,20,"0,8","7,1","565,5",2018
7812,Duttendel,1075,827,375,185,140,150,20,"1,4","4,6","486,6",2018
7814,Nassaubuurt,1625,5752,330,305,220,235,20,"0,3","5,9","399,5",2018

## 2019

In [66]:
CBS_file_2019 = 'data/kwb-2019.xls'

In [67]:
CBS_data_2019=pd.read_excel(CBS_file_2019)

In [68]:
CBS_den_haag_2019 = CBS_data_2019[CBS_data_2019["gm_naam"] == "'s-Gravenhage"].copy()
CBS_den_haag_2019 = CBS_den_haag_2019[CBS_den_haag_2019["recs"] == "Buurt"].copy()

In [69]:
CBS_den_haag_2019

,gwb_code_10,gwb_code_8,regio,gm_naam,recs,gwb_code,ind_wbi,a_inw,a_man,a_vrouw,...,g_afs_kv,g_afs_sc,g_3km_sc,a_opp_ha,a_lan_ha,a_wat_ha,pst_mvp,pst_dekp,ste_mvs,ste_oad
7762,BU05180170,5180170,Oostduinen,'s-Gravenhage,Buurt,BU05180170,1,0,0,0,...,NaN,.,.,318,308,10,2597,5,4,680
7764,BU05180271,5180271,Belgisch Park,'s-Gravenhage,Buurt,BU05180271,1,8245,4035,4210,...,"0,4","0,5","11,0",106,106,0,2587,2,2,2474
7766,BU05180373,5180373,Westbroekpark,'s-Gravenhage,Buurt,BU05180373,1,930,420,505,...,"0,8","0,8","18,9",46,41,5,2597,4,2,2386
7767,BU05180374,5180374,Duttendel,'s-Gravenhage,Buurt,BU05180374,1,1075,490,585,...,"0,4","0,4","14,3",133,130,3,2597,1,3,1127
7769,BU05180448,5180448,Nassaubuurt,'s-Gravenhage,Buurt,BU05180448,1,1610,775,830,...,"0,2","0,4","22,0",29,28,0,2596,1,1,3230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7913,BU05184317,5184317,De Rivieren,'s-Gravenhage,Buurt,BU05184317,1,40,20,20,...,"0,4","0,8","12,4",171,166,5,2491,1,3,1203
7915,BU05184418,5184418,De Lanen,'s-Gravenhage,Buurt,BU05184418,1,5440,2745,2695,...,"0,6","0,6","10,7",70,68,2,2493,1,3,1414
7916,BU05184419,5184419,De Velden,'s-Gravenhage,Buurt,BU05184419,1,4200,2135,2060,...,"0,6","0,7","9,1",75,73,3,2492,1,3,1481
7917,BU05184420,5184420,De Vissen,'s-Gravenhage,Buurt,BU05184420,1,8620,4275,4345,...,"0,6","0,5","6,2",129,118,12,2492,1,3,1454
7918,BU05184421,5184421,Rietbuurt,'s-Gravenhage,Buurt,BU05184421,1,2795,1410,1385,...,"0,6","1,3","9,2",102,92,10,2493,1,2,1543

In [71]:
CBS_dh_variables_2019 = CBS_den_haag_2019[["regio","a_inw", "bev_dich", "a_65_oo", "a_1p_hh","a_hh_z_k","a_hh_m_k","a_soz_ao","g_afs_hp","p_hh_lkk","m_hh_ver"]].copy()

In [72]:
CBS_dh_variables_2019

,regio,a_inw,bev_dich,a_65_oo,a_1p_hh,a_hh_z_k,a_hh_m_k,a_soz_ao,g_afs_hp,p_hh_lkk,m_hh_ver
7762,Oostduinen,0,.,0,0,0,0,.,NaN,.,.
7764,Belgisch Park,8245,7783,1680,2080,1010,1110,220,"0,7","7,1","104,2"
7766,Westbroekpark,930,2252,440,235,160,85,20,"0,8","7,8","612,0"
7767,Duttendel,1075,827,380,190,150,140,20,"1,3","5,3","544,0"
7769,Nassaubuurt,1610,5692,335,315,215,230,20,"0,3","5,8","413,9"
...,...,...,...,...,...,...,...,...,...,...,...
7913,De Rivieren,40,24,0,5,5,10,.,"1,1",.,.
7915,De Lanen,5440,8059,260,260,345,1200,160,"1,2","3,9","116,7"
7916,De Velden,4200,5791,450,295,445,815,110,"1,2","3,5","132,4"
7917,De Vissen,8620,7324,1105,605,815,1675,280,"1,2","4,7","116,6"
7918,Rietbuurt,2795,3042,115,175,145,615,70,"0,8","6,2","111,3"

In [73]:
CBS_dh_variables_2019.rename(columns = {"regio" : "Neighbourhood", "a_inw" : "Number of inhabitants", "bev_dich" : "Population density", "a_65_oo" : "65 or older", "a_1p_hh" : "Single person households", "a_hh_z_k" : "Households without children", "a_hh_m_k" : "Households with children", "a_soz_ao" : "Person with disability benefit","g_afs_hp" : "Distance to GP", "p_hh_lkk" : "Low-income households","m_hh_ver" : "Median wealth of private households"}, inplace = True)

In [74]:
CBS_dh_variables_2019["Year"] = 2019

In [75]:
CBS_dh_variables_2019.head()

,Neighbourhood,Number of inhabitants,Population density,65 or older,Single person households,Households without children,Households with children,Person with disability benefit,Distance to GP,Low-income households,Median wealth of private households,Year
7762,Oostduinen,0,.,0,0,0,0,.,NaN,.,.,2019
7764,Belgisch Park,8245,7783,1680,2080,1010,1110,220,"0,7","7,1","104,2",2019
7766,Westbroekpark,930,2252,440,235,160,85,20,"0,8","7,8","612,0",2019
7767,Duttendel,1075,827,380,190,150,140,20,"1,3","5,3","544,0",2019
7769,Nassaubuurt,1610,5692,335,315,215,230,20,"0,3","5,8","413,9",2019

## 2020

In [76]:
CBS_file_2020 = 'data/kwb-2020.xls'

In [77]:
CBS_data_2020=pd.read_excel(CBS_file_2020)

In [78]:
CBS_den_haag_2020 = CBS_data_2020[CBS_data_2020["gm_naam"] == "'s-Gravenhage"].copy()
CBS_den_haag_2020 = CBS_den_haag_2020[CBS_den_haag_2020["recs"] == "Buurt"].copy()

In [79]:
CBS_den_haag_2020

,gwb_code_10,gwb_code_8,regio,gm_naam,recs,gwb_code,ind_wbi,a_inw,a_man,a_vrouw,...,g_afs_kv,g_afs_sc,g_3km_sc,a_opp_ha,a_lan_ha,a_wat_ha,pst_mvp,pst_dekp,ste_mvs,ste_oad
7766,BU05180170,5180170,Oostduinen,'s-Gravenhage,Buurt,BU05180170,1,0,0,0,...,.,.,.,318,308,10,2597,5,4,683
7768,BU05180271,5180271,Belgisch Park,'s-Gravenhage,Buurt,BU05180271,1,8350,4095,4250,...,"0,4","0,5","10,9",106,106,0,2587,2,2,2497
7770,BU05180373,5180373,Westbroekpark,'s-Gravenhage,Buurt,BU05180373,1,1070,475,590,...,"0,7","0,7","18,5",46,41,5,2597,4,2,2402
7771,BU05180374,5180374,Duttendel,'s-Gravenhage,Buurt,BU05180374,1,1100,490,610,...,"0,4","0,4","14,3",133,130,3,2597,1,3,1135
7773,BU05180448,5180448,Nassaubuurt,'s-Gravenhage,Buurt,BU05180448,1,1620,790,830,...,"0,2","0,4","22,0",29,28,0,2596,1,1,3307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7917,BU05184317,5184317,De Rivieren,'s-Gravenhage,Buurt,BU05184317,1,35,15,20,...,"0,4","0,9","11,8",171,166,5,2491,1,3,1220
7919,BU05184418,5184418,De Lanen,'s-Gravenhage,Buurt,BU05184418,1,5460,2755,2705,...,"0,6","0,6","10,7",70,68,2,2493,1,3,1416
7920,BU05184419,5184419,De Velden,'s-Gravenhage,Buurt,BU05184419,1,4165,2105,2055,...,"0,6","0,7","9,1",75,73,3,2492,1,3,1481
7921,BU05184420,5184420,De Vissen,'s-Gravenhage,Buurt,BU05184420,1,8495,4205,4290,...,"0,6","0,5","6,2",129,118,12,2492,1,3,1456
7922,BU05184421,5184421,Rietbuurt,'s-Gravenhage,Buurt,BU05184421,1,2760,1370,1385,...,"0,6","1,3","9,1",102,92,10,2493,1,2,1548

In [81]:
CBS_dh_variables_2020 = CBS_den_haag_2020[["regio","a_inw", "bev_dich", "a_65_oo", "a_1p_hh","a_hh_z_k","a_hh_m_k","a_soz_ao","g_afs_hp","p_hh_lkk","m_hh_ver"]].copy()

In [82]:
CBS_dh_variables_2020

,regio,a_inw,bev_dich,a_65_oo,a_1p_hh,a_hh_z_k,a_hh_m_k,a_soz_ao,g_afs_hp,p_hh_lkk,m_hh_ver
7766,Oostduinen,0,.,0,0,0,0,.,.,NaN,NaN
7768,Belgisch Park,8350,7880,1710,2100,1025,1125,210,"0,7",NaN,NaN
7770,Westbroekpark,1070,2591,545,270,185,95,10,"0,7",NaN,NaN
7771,Duttendel,1100,844,385,180,140,150,20,"1,3",NaN,NaN
7773,Nassaubuurt,1620,5737,330,320,210,235,20,"0,3",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7917,De Rivieren,35,24,0,0,5,10,.,"1,1",NaN,NaN
7919,De Lanen,5460,8086,275,290,355,1195,170,"1,2",NaN,NaN
7920,De Velden,4165,5742,470,330,425,810,120,"1,2",NaN,NaN
7921,De Vissen,8495,7219,1075,610,795,1680,280,"1,2",NaN,NaN
7922,Rietbuurt,2760,3003,130,185,155,595,70,"0,8",NaN,NaN

In [83]:
CBS_dh_variables_2020.rename(columns = {"regio" : "Neighbourhood", "a_inw" : "Number of inhabitants", "bev_dich" : "Population density", "a_65_oo" : "65 or older", "a_1p_hh" : "Single person households", "a_hh_z_k" : "Households without children", "a_hh_m_k" : "Households with children", "a_soz_ao" : "Person with disability benefit","g_afs_hp" : "Distance to GP", "p_hh_lkk" : "Low-income households","m_hh_ver" : "Median wealth of private households"}, inplace = True)

In [84]:
CBS_dh_variables_2020.rename(columns = {"regio" : "Neighbourhood", "a_inw" : "Number of inhabitants", "bev_dich" : "Population density", "a_65_oo" : "65 or older", "a_1p_hh" : "Single person households", "a_hh_z_k" : "Households without children", "a_hh_m_k" : "Households with children", "a_soz_ao" : "Person with disability benefit","g_afs_hp" : "Distance to GP", "p_hh_lkk" : "Low-income households","m_hh_ver" : "Median wealth of private households"}, inplace = True)

In [85]:
CBS_dh_variables_2020["Year"] = 2020

In [86]:
CBS_dh_variables_2020.head()

,Neighbourhood,Number of inhabitants,Population density,65 or older,Single person households,Households without children,Households with children,Person with disability benefit,Distance to GP,Low-income households,Median wealth of private households,Year
7766,Oostduinen,0,.,0,0,0,0,.,.,NaN,NaN,2020
7768,Belgisch Park,8350,7880,1710,2100,1025,1125,210,"0,7",NaN,NaN,2020
7770,Westbroekpark,1070,2591,545,270,185,95,10,"0,7",NaN,NaN,2020
7771,Duttendel,1100,844,385,180,140,150,20,"1,3",NaN,NaN,2020
7773,Nassaubuurt,1620,5737,330,320,210,235,20,"0,3",NaN,NaN,2020

In [87]:
csv_dhcbs_all = pd.concat([CBS_dh_variables_2018, CBS_dh_variables_2019, CBS_dh_variables_2020], ignore_index=True)

In [88]:
csv_dhcbs_all

,Neighbourhood,Number of inhabitants,Population density,65 or older,Single person households,Households without children,Households with children,Person with disability benefit,Distance to GP,Low-income households,Median wealth of private households,Year
0,Oostduinen,0,.,0,0,0,0,.,NaN,.,.,2018
1,Belgisch Park,8205,7747,1655,2115,1000,1095,220,"0,8","7,1","76,0",2018
2,Westbroekpark,880,2133,395,225,145,85,20,"0,8","7,1","565,5",2018
3,Duttendel,1075,827,375,185,140,150,20,"1,4","4,6","486,6",2018
4,Nassaubuurt,1625,5752,330,305,220,235,20,"0,3","5,9","399,5",2018
...,...,...,...,...,...,...,...,...,...,...,...,...
337,De Rivieren,35,24,0,0,5,10,.,"1,1",NaN,NaN,2020
338,De Lanen,5460,8086,275,290,355,1195,170,"1,2",NaN,NaN,2020
339,De Velden,4165,5742,470,330,425,810,120,"1,2",NaN,NaN,2020
340,De Vissen,8495,7219,1075,610,795,1680,280,"1,2",NaN,NaN,2020
341,Rietbuurt,2760,3003,130,185,155,595,70,"0,8",NaN,NaN,2020

# Merge cbs + cifjers

In [89]:
csv_dhc_all.shape

(342, 8)

In [90]:
csv_dhc_all.columns

Index(['Number of employed persons', 'Potential labour force',
       'Average number of private cars per address (excluding lease cars)',
       'All offences', '% Dutch natives',
       'Average personal income of individuals, 52 weeks', 'Year',
       'Neighbourhood'],
      dtype='object')

In [91]:
len(csv_dhc_all["Neighbourhood"].unique())

114

In [92]:
csv_dhcbs_all.shape

(342, 12)

In [93]:
csv_dhcbs_all.columns

Index(['Neighbourhood', 'Number of inhabitants', 'Population density',
       '65 or older', 'Single person households',
       'Households without children', 'Households with children',
       'Person with disability benefit', 'Distance to GP',
       'Low-income households', 'Median wealth of private households', 'Year'],
      dtype='object')

In [94]:
len(csv_dhcbs_all["Neighbourhood"].unique())

115

In [95]:
n_dhc = list(csv_dhc_all["Neighbourhood"].unique())
n_dhcbs = list(csv_dhcbs_all["Neighbourhood"].unique())

In [96]:
print(list(set(n_dhc) - set(n_dhcbs)))

['Eykenduynen', 'Tedingerbroek', 'Bohemen/Meer en Bos', 'Sweelinckplein eo', 'Koningsplein eo', 'Kraayenstein & Vroondaal', 'v Stolkpark/Schev Bosjes', 'v Hoytemastraat eo', 'Zijden/Steden/Zichten', 'Kerketuinen/Zichtenburg', 'Parkbuurt Oosteinde', 'Venen/Oorden/Raden']

In [97]:
print(list(set(n_dhcbs) - set(n_dhc)))

['Sweelinckplein en omgeving', 'Kraayenstein', 'Van Stolkpark en Scheveningse Bosjes', 'Koningsplein en omgeving', 'Venen, Oorden en Raden', 'Bohemen en Meer en Bos', 'Van Hoytemastraat en omgeving', 'Parkbuurt oosteinde', 'Tedingerbuurt', 'Kerketuinen en Zichtenburg', 'Zijden, Steden en Zichten', 'Eykenduinen', 'Kraayenstein en Vroondaal']

* The different elements were analysed one by one and the respective denomination adjusted in accordance.

'Kerketuinen/Zichtenburg' - 'Kerketuinen en Zichtenburg'

'Tedingerbroek' - 'Tedingerbuurt'

'Koningsplein eo' - 'Koningsplein en omgeving'

'Venen/Oorden/Raden' - 'Venen, Oorden en Raden'  

'Parkbuurt Oosteinde' - 'Parkbuurt oosteinde'  

'v Hoytemastraat eo' - 'Van Hoytemastraat en omgeving' 

'Zijden/Steden/Zichten' - 'Zijden, Steden en Zichten'

'Bohemen/Meer en Bos' - 'Bohemen en Meer en Bos'

'Sweelinckplein eo' - 'Sweelinckplein en omgeving'

'Eykenduynen' - 'Eykenduinen'

'v Stolkpark/Schev Bosjes' - 'Van Stolkpark en Scheveningse Bosjes'

'Kraayenstein & Vroondaal' - 'Kraayenstein en Vroondaal'


The correspondence between neighbourhoods has been found and from 2018 to 2019, the denomination of neighbourhood changed from Kraayenstein mudou to Kraayenstein & Vroondaal.

In [98]:
csv_dhc_all[csv_dhc_all["Neighbourhood"] == 'Kerketuinen/Zichtenburg']

,Number of employed persons,Potential labour force,Average number of private cars per address (excluding lease cars),All offences,% Dutch natives,"Average personal income of individuals, 52 weeks",Year,Neighbourhood
77,8025.0,48.0,x,225.0,43.1,NaN,2018,Kerketuinen/Zichtenburg
191,8175.0,56.0,x,227.0,50.8,NaN,2019,Kerketuinen/Zichtenburg
305,7282.0,106.0,x,189.0,43.1,NaN,2020,Kerketuinen/Zichtenburg

In [99]:
csv_dhc_all['Neighbourhood'].replace({
    
'Kerketuinen/Zichtenburg': 'Kerketuinen en Zichtenburg', 
    
'Tedingerbroek': 'Tedingerbuurt',

'Koningsplein eo': 'Koningsplein en omgeving',

'Venen/Oorden/Raden': 'Venen, Oorden en Raden',

'Parkbuurt Oosteinde': 'Parkbuurt oosteinde',

'v Hoytemastraat eo': 'Van Hoytemastraat en omgeving',

'Zijden/Steden/Zichten': 'Zijden, Steden en Zichten',

'Bohemen/Meer en Bos': 'Bohemen en Meer en Bos',

'Sweelinckplein eo': 'Sweelinckplein en omgeving',

'Eykenduynen': 'Eykenduinen',

'v Stolkpark/Schev Bosjes': 'Van Stolkpark en Scheveningse Bosjes',

'Kraayenstein & Vroondaal': 'Kraayenstein en Vroondaal'}, inplace=True)

In [100]:
csv_dhc_all[csv_dhc_all["Neighbourhood"] == 'Bohemen en Meer en Bos']

,Number of employed persons,Potential labour force,Average number of private cars per address (excluding lease cars),All offences,% Dutch natives,"Average personal income of individuals, 52 weeks",Year,Neighbourhood
84,958.0,2322.0,0.70,153.0,73.3,37200.0,2018,Bohemen en Meer en Bos
198,1002.0,2277.0,0.70,130.0,73.2,NaN,2019,Bohemen en Meer en Bos
312,1046.0,2328.0,0.70,184.0,72.9,NaN,2020,Bohemen en Meer en Bos

In [101]:
csv_dhc_all[csv_dhc_all["Neighbourhood"] == 'Venen, Oorden en Raden']

,Number of employed persons,Potential labour force,Average number of private cars per address (excluding lease cars),All offences,% Dutch natives,"Average personal income of individuals, 52 weeks",Year,Neighbourhood
79,1428.0,5644.0,0.61,479.0,26.1,22900.0,2018,"Venen, Oorden en Raden"
193,1535.0,5772.0,0.64,585.0,24.3,NaN,2019,"Venen, Oorden en Raden"
307,1591.0,5736.0,0.63,592.0,23.7,NaN,2020,"Venen, Oorden en Raden"

In [102]:
csv_dhc_all[csv_dhc_all["Neighbourhood"] == 'Kraayenstein en Vroondaal']

,Number of employed persons,Potential labour force,Average number of private cars per address (excluding lease cars),All offences,% Dutch natives,"Average personal income of individuals, 52 weeks",Year,Neighbourhood
89,1433.0,3814.0,0.96,250.0,70.6,42600.0,2018,Kraayenstein en Vroondaal
203,1560.0,4058.0,0.97,326.0,70.0,NaN,2019,Kraayenstein en Vroondaal
317,1621.0,4378.0,0.97,302.0,69.3,NaN,2020,Kraayenstein en Vroondaal

cbs

In [103]:
csv_dhcbs_all[csv_dhcbs_all["Neighbourhood"] == 'Kraayenstein']

,Neighbourhood,Number of inhabitants,Population density,65 or older,Single person households,Households without children,Households with children,Person with disability benefit,Distance to GP,Low-income households,Median wealth of private households,Year
31,Kraayenstein,5875,1945,1075,950,695,895,350,"1,7","5,6","43,7",2018

In [104]:
csv_dhcbs_all[csv_dhcbs_all["Neighbourhood"] == 'Kraayenstein en Vroondaal']

,Neighbourhood,Number of inhabitants,Population density,65 or older,Single person households,Households without children,Households with children,Person with disability benefit,Distance to GP,Low-income households,Median wealth of private households,Year
145,Kraayenstein en Vroondaal,6255,2071,1095,945,730,960,380,"1,8","4,9","74,4",2019
259,Kraayenstein en Vroondaal,6805,2253,1145,975,735,1095,380,"1,8",NaN,NaN,2020

In [105]:
csv_dhcbs_all['Neighbourhood'].replace({'Kraayenstein': 'Kraayenstein en Vroondaal'}, inplace=True)

In [106]:
csv_dhcbs_all[csv_dhcbs_all["Neighbourhood"] == 'Kraayenstein en Vroondaal']

,Neighbourhood,Number of inhabitants,Population density,65 or older,Single person households,Households without children,Households with children,Person with disability benefit,Distance to GP,Low-income households,Median wealth of private households,Year
31,Kraayenstein en Vroondaal,5875,1945,1075,950,695,895,350,"1,7","5,6","43,7",2018
145,Kraayenstein en Vroondaal,6255,2071,1095,945,730,960,380,"1,8","4,9","74,4",2019
259,Kraayenstein en Vroondaal,6805,2253,1145,975,735,1095,380,"1,8",NaN,NaN,2020

## Merge

In [107]:
merged = pd.merge(csv_dhc_all, csv_dhcbs_all, on=["Neighbourhood", "Year"], sort = [True, True], how="outer")

In [108]:
merged.shape

(342, 18)

In [109]:
merged.columns

Index(['Number of employed persons', 'Potential labour force',
       'Average number of private cars per address (excluding lease cars)',
       'All offences', '% Dutch natives',
       'Average personal income of individuals, 52 weeks', 'Year',
       'Neighbourhood', 'Number of inhabitants', 'Population density',
       '65 or older', 'Single person households',
       'Households without children', 'Households with children',
       'Person with disability benefit', 'Distance to GP',
       'Low-income households', 'Median wealth of private households'],
      dtype='object')

In [110]:
merged.tail(12)

,Number of employed persons,Potential labour force,Average number of private cars per address (excluding lease cars),All offences,% Dutch natives,"Average personal income of individuals, 52 weeks",Year,Neighbourhood,Number of inhabitants,Population density,65 or older,Single person households,Households without children,Households with children,Person with disability benefit,Distance to GP,Low-income households,Median wealth of private households
330,658.0,2532.0,1.21,104.0,53.7,34900.0,2018,Zonne Veld,3440,7678,175,200,235,750,160,"0,4","7,2","41,2"
331,694.0,2531.0,1.21,121.0,51.3,NaN,2019,Zonne Veld,3405,7600,195,215,245,735,160,"0,4","5,7","70,7"
332,758.0,2540.0,1.22,126.0,50.0,NaN,2020,Zonne Veld,3405,7597,215,220,240,735,160,"0,4",NaN,NaN
333,3795.0,265.0,0.77,90.0,53.7,66700.0,2018,Zorgvliet,500,583,170,110,110,50,10,"0,6","10,3","486,5"
334,3688.0,274.0,0.77,80.0,55.7,NaN,2019,Zorgvliet,530,618,190,120,110,55,10,"0,6","6,5","631,3"
335,3725.0,317.0,0.75,63.0,54.0,NaN,2020,Zorgvliet,620,723,220,120,130,75,10,"0,6",NaN,NaN
336,660.0,23.0,x,194.0,81.1,21700.0,2018,Zuiderpark,160,164,95,95,25,5,10,"0,9","8,3","3,3"
337,636.0,26.0,x,217.0,77.1,NaN,2019,Zuiderpark,155,158,90,95,25,5,10,"0,9","13,6","2,4"
338,677.0,38.0,x,172.0,71.8,NaN,2020,Zuiderpark,165,171,90,95,25,10,10,"0,9",NaN,NaN
339,7484.0,5516.0,0.32,2341.0,42.4,29800.0,2018,Zuidwal,6885,13763,730,3000,850,670,290,"0,4","21,0","1,0"
340,7455.0,5524.0,0.31,2376.0,41.3,NaN,2019,Zuidwal,6910,13811,770,2965,875,670,290,"0,3","20,9","1,0"
341,7263.0,5541.0,0.29,1827.0,39.9,NaN,2020,Zuidwal,6980,13959,800,2995,875,675,290,"0,4",NaN,NaN

In [111]:
merged.set_index(["Neighbourhood", "Year"], inplace=True)

In [112]:
merged.tail(15)

                                Number of employed persons  \
Neighbourhood             Year
Zijden, Steden en Zichten 2018                      1672.0
                          2019                      1713.0
                          2020                      1840.0
Zonne Veld                2018                       658.0
                          2019                       694.0
                          2020                       758.0
Zorgvliet                 2018                      3795.0
                          2019                      3688.0
                          2020                      3725.0
Zuiderpark                2018                       660.0
                          2019                       636.0
                          2020                       677.0
Zuidwal                   2018                      7484.0
                          2019                      7455.0
                          2020                      7263.0

                                Potential labour force  \
Neighbourhood             Year
Zijden, Steden en Zichten 2018                  5224.0
                          2019                  5291.0
                          2020                  5370.0
Zonne Veld                2018                  2532.0
                          2019                  2531.0
                          2020                  2540.0
Zorgvliet                 2018                   265.0
                          2019                   274.0
                          2020                   317.0
Zuiderpark                2018                    23.0
                          2019                    26.0
                          2020                    38.0
Zuidwal                   2018                  5516.0
                          2019                  5524.0
                          2020                  5541.0

                               Average number of private cars per address (excluding lease cars)  \
Neighbourhood             Year
Zijden, Steden en Zichten 2018                                               0.61
                          2019                                               0.62
                          2020                                               0.63
Zonne Veld                2018                                               1.21
                          2019                                               1.21
                          2020                                               1.22
Zorgvliet                 2018                                               0.77
                          2019                                               0.77
                          2020                                               0.75
Zuiderpark                2018                                                  x
                          2019                                                  x
                          2020                                                  x
Zuidwal                   2018                                               0.32
                          2019                                               0.31
                          2020                                               0.29

                                All offences % Dutch natives  \
Neighbourhood             Year
Zijden, Steden en Zichten 2018         447.0            27.1
                          2019         538.0            26.0
                          2020         465.0            24.9
Zonne Veld                2018         104.0            53.7
                          2019         121.0            51.3
                          2020         126.0            50.0
Zorgvliet                 2018          90.0            53.7
                          2019          80.0            55.7
                          2020          63.0            54.0
Zuiderpark                2018         194.0            81.1
                          2019         217.0            77.1
                          2020         172.0            71.8
Zuidwal                   2018        2341.0            42.4
                          2019        2376.0            41.3
                          2020        1827.0            39.9

                                Average personal income of individuals, 52 weeks  \
Neighbourhood             Year
Zijden, Steden en Zichten 2018                                           24100.0
                          2019                                               NaN
                          2020                                               NaN
Zonne Veld                2018                                           34900.0
                          2019                                               NaN
                          2020                                               NaN
Zorgvliet                 2018                                           66700.0
                          2019                                               NaN
                          2020                                               NaN
Zuiderpark                2018                                           21700.0
                          2019                                               NaN
                          2020                                               NaN
Zuidwal                   2018                                           29800.0
                          2019                                               NaN
                          2020                                               NaN

                                Number of inhabitants Population density  \
Neighbourhood             Year
Zijden, Steden en Zichten 2018                   7850               8224
                          2019                   7955               8335
                          2020                   8065               8448
Zonne Veld                2018                   3440               7678
                          2019                   3405               7600
                          2020                   3405               7597
Zorgvliet                 2018                    500                583
                          2019                    530                618
                          2020                    620                723
Zuiderpark                2018                    160                164
                          2019                    155                158
                          2020                    165                171
Zuidwal                   2018                   6885              13763
                          2019                   6910              13811
                          2020                   6980              13959

                                65 or older  Single person households  \
Neighbourhood             Year
Zijden, Steden en Zichten 2018         1000                      1690
                          2019         1025                      1690
                          2020         1030                      1740
Zonne Veld                2018          175                       200
                          2019          195                       215
                          2020          215                       220
Zorgvliet                 2018          170                       110
                          2019          190                       120
                          2020          220                       120
Zuiderpark                2018           95                        95
                          2019           90                        95
                          2020           90                        95
Zuidwal                   2018          730                      3000
                          2019          770                      2965
                          2020          800                      2995

                                Households without children  \
Neighbourhood             Year
Zijden, Steden en Zichten 2018                          695
                          2019                          695
                          2020                          680
Zonne Veld                2018                          235
                          2019                          245
                          2020                          240
Zorgvliet                 2018                          110
                          2019                          110
                          2020                          130
Zuiderpark                2018                           25
                          2019                           25
                          2020                           25
Zuidwal                   2018                          850
                          2019                          875
                          2020                          875

                                Households with children  \
Neighbourhood             Year
Zijden, Steden en Zichten 2018                      1360
                          2019                      1370
                          2020                      1390
Zonne Veld                2018                       750
                          2019                       735
                          2020                       735
Zorgvliet                 2018                        50
                          2019                        55
                          2020                        75
Zuiderpark                2018                         5
                          2019                         5
                          2020                        10
Zuidwal                   2018                       670
                          2019                       670
                          2020                       675

                               Person with disability benefit Distance to GP  \
Neighbourhood             Year
Zijden, Steden en Zichten 2018                            470            0,5
                          2019                            470            0,6
                          2020                            490            0,5
Zonne Veld                2018                            160            0,4
                          2019                            160            0,4
                          2020                            160            0,4
Zorgvliet                 2018                             10            0,6
                          2019                             10            0,6
                          2020                             10            0,6
Zuiderpark                2018                             10            0,9
                          2019                             10            0,9
                          2020                             10            0,9
Zuidwal                   2018                            290            0,4
                          2019                            290            0,3
                          2020                            290            0,4

                               Low-income households  \
Neighbourhood             Year
Zijden, Steden en Zichten 2018                  21,0
                          2019                  20,6
                          2020                   NaN
Zonne Veld                2018                   7,2
                          2019                   5,7
                          2020                   NaN
Zorgvliet                 2018                  10,3
                          2019                   6,5
                          2020                   NaN
Zuiderpark                2018                   8,3
                          2019                  13,6
                          2020                   NaN
Zuidwal                   2018                  21,0
                          2019                  20,9
                          2020                   NaN

                               Median wealth of private households
Neighbourhood             Year
Zijden, Steden en Zichten 2018                                 1,3
                          2019                                 2,1
                          2020                                 NaN
Zonne Veld                2018                                41,2
                          2019                                70,7
                          2020                                 NaN
Zorgvliet                 2018                               486,5
                          2019                               631,3
                          2020                                 NaN
Zuiderpark                2018                                 3,3
                          2019                                 2,4
                          2020                                 NaN
Zuidwal                   2018                                 1,0
                          2019                                 1,0
                          2020                                 NaN

# Clean Data

In [113]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 342 entries, ('Archipelbuurt', 2018) to ('Zuidwal', 2020)
Data columns (total 16 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   Number of employed persons                                         342 non-null    float64
 1   Potential labour force                                             333 non-null    float64
 2   Average number of private cars per address (excluding lease cars)  336 non-null    object
 3   All offences                                                       342 non-null    float64
 4   % Dutch natives                                                    333 non-null    object
 5   Average personal income of individuals, 52 weeks                   108 non-null    float64
 6   Number of inhabitants                                              342 non-null    int64
 7   Population density                                                 342 non-null    object
 8   65 or older                                                        342 non-null    int64
 9   Single person households                                           342 non-null    int64
 10  Households without children                                        342 non-null    int64
 11  Households with children                                           342 non-null    int64
 12  Person with disability benefit                                     342 non-null    object
 13  Distance to GP                                                     336 non-null    object
 14  Low-income households                                              228 non-null    object
 15  Median wealth of private households                                228 non-null    object
dtypes: float64(4), int64(5), object(7)
memory usage: 48.6+ KB

In [115]:
merged.isnull().sum()

Number of employed persons                                             0
Potential labour force                                                 9
Average number of private cars per address (excluding lease cars)      6
All offences                                                           0
% Dutch natives                                                        9
Average personal income of individuals, 52 weeks                     234
Number of inhabitants                                                  0
Population density                                                     0
65 or older                                                            0
Single person households                                               0
Households without children                                            0
Households with children                                               0
Person with disability benefit                                         0
Distance to GP                                                         6
Low-income households                                                114
Median wealth of private households                                  114
dtype: int64

In [116]:
print(sum(merged['Number of inhabitants'] == 0))

9

In [117]:
merged[merged["Number of inhabitants"] == 0]

                       Number of employed persons  Potential labour force  \
Neighbourhood    Year
Oostduinen       2018                       996.0                     NaN
                 2019                      1065.0                     NaN
                 2020                      1134.0                     NaN
Tedingerbuurt    2018                        30.0                     NaN
                 2019                        94.0                     NaN
                 2020                       113.0                     NaN
Vliegeniersbuurt 2018                      2292.0                     NaN
                 2019                      2408.0                     NaN
                 2020                      2573.0                     NaN

                      Average number of private cars per address (excluding lease cars)  \
Neighbourhood    Year
Oostduinen       2018                                                  x
                 2019                                                  x
                 2020                                                  x
Tedingerbuurt    2018                                                NaN
                 2019                                                NaN
                 2020                                                NaN
Vliegeniersbuurt 2018                                                NaN
                 2019                                                NaN
                 2020                                                NaN

                       All offences % Dutch natives  \
Neighbourhood    Year
Oostduinen       2018          42.0             NaN
                 2019          43.0             NaN
                 2020          30.0             NaN
Tedingerbuurt    2018           3.0             NaN
                 2019           1.0             NaN
                 2020           3.0             NaN
Vliegeniersbuurt 2018         129.0             NaN
                 2019         176.0             NaN
                 2020         178.0             NaN

                       Average personal income of individuals, 52 weeks  \
Neighbourhood    Year
Oostduinen       2018                                               NaN
                 2019                                               NaN
                 2020                                               NaN
Tedingerbuurt    2018                                               NaN
                 2019                                               NaN
                 2020                                               NaN
Vliegeniersbuurt 2018                                               NaN
                 2019                                               NaN
                 2020                                               NaN

                       Number of inhabitants Population density  65 or older  \
Neighbourhood    Year
Oostduinen       2018                      0                  .            0
                 2019                      0                  .            0
                 2020                      0                  .            0
Tedingerbuurt    2018                      0                  .            0
                 2019                      0                  .            0
                 2020                      0                  .            0
Vliegeniersbuurt 2018                      0                  .            0
                 2019                      0                  .            0
                 2020                      0                  .            0

                       Single person households  Households without children  \
Neighbourhood    Year
Oostduinen       2018                         0                            0
                 2019                         0                            0
                 2020                         0                            0
Tedingerbuurt    2018                         0                            0
                 2019                         0                            0
                 2020                         0                            0
Vliegeniersbuurt 2018                         0                            0
                 2019                         0                            0
                 2020                         0                            0

                       Households with children  \
Neighbourhood    Year
Oostduinen       2018                         0
                 2019                         0
                 2020                         0
Tedingerbuurt    2018                         0
                 2019                         0
                 2020                         0
Vliegeniersbuurt 2018                         0
                 2019                         0
                 2020                         0

                      Person with disability benefit Distance to GP  \
Neighbourhood    Year
Oostduinen       2018                              .            NaN
                 2019                              .            NaN
                 2020                              .              .
Tedingerbuurt    2018                              .            NaN
                 2019                              .            NaN
                 2020                              .              .
Vliegeniersbuurt 2018                              .            NaN
                 2019                              .            NaN
                 2020                              .              .

                      Low-income households  \
Neighbourhood    Year
Oostduinen       2018                     .
                 2019                     .
                 2020                   NaN
Tedingerbuurt    2018                     .
                 2019                     .
                 2020                   NaN
Vliegeniersbuurt 2018                     .
                 2019                     .
                 2020                   NaN

                      Median wealth of private households
Neighbourhood    Year
Oostduinen       2018                                   .
                 2019                                   .
                 2020                                 NaN
Tedingerbuurt    2018                                   .
                 2019                                   .
                 2020                                 NaN
Vliegeniersbuurt 2018                                   .
                 2019                                   .
                 2020                                 NaN

Nas neighbourhoods em que não há cidadãos residentes (Number of inhabitants == 0) existem muitos indicadores que não têm valores.

**Indicadores em que isso acontece:        | Estratégia a adotar:**
                                           |
- Potential labour force                     | substituir por 0 FEITO
- Average number of private cars per address | substituir por 0 (AVISO: x --> ESTÁ A DAR ERRO!!!)
- % Dutch natives                            | substituir por 0 FEITO
- Average personal income of individuals     | substituir por .........
- Distance to GP                             | substituir pela média da distância dos neighbourhoods vizinhos (pelo queen)
- Low-income households                      | substituir por valores de 2018: em 1ano a variação não será grande (AVISO: pontos --> Como ponho o dataframe pela ordem certa???)
- Median wealth of private households        | substituir por média de valores dos outros anos (AVISO: pontos)

"Average personal income of individuals", "Low-income households" e "Median wealth of private households" têm anos inteiros sem valores

In [118]:
merged['Potential labour force'].fillna(value = 0, inplace = True)
merged['Average number of private cars per address (excluding lease cars)'].fillna(value = 0, inplace = True)
merged['% Dutch natives'].fillna(value = 0, inplace = True)
#merged['Low-income households'].fillna(value = , inplace = True) #todos os valores em falta são de 2017, por isso, substitui-se pelos de 2018
#merged['Median wealth of private households'].fillna(value = 0, inplace = True)

In [119]:
merged.isnull().sum()

Number of employed persons                                             0
Potential labour force                                                 0
Average number of private cars per address (excluding lease cars)      0
All offences                                                           0
% Dutch natives                                                        0
Average personal income of individuals, 52 weeks                     234
Number of inhabitants                                                  0
Population density                                                     0
65 or older                                                            0
Single person households                                               0
Households without children                                            0
Households with children                                               0
Person with disability benefit                                         0
Distance to GP                                                         6
Low-income households                                                114
Median wealth of private households                                  114
dtype: int64

#### Average number of private cars per address (excluding lease cars)

In [120]:
merged[merged["Average number of private cars per address (excluding lease cars)"] == "x"]

                                 Number of employed persons  \
Neighbourhood              Year
De Reef                    2018                       925.0
                           2019                       827.0
                           2020                       899.0
De Rivieren                2018                      9272.0
                           2019                      9169.0
                           2020                     11478.0
Kerketuinen en Zichtenburg 2018                      8025.0
                           2019                      8175.0
                           2020                      7282.0
Oostduinen                 2018                       996.0
                           2019                      1065.0
                           2020                      1134.0
Vlietzoom-Oost             2018                       742.0
                           2019                       760.0
                           2020                       728.0
Vlietzoom-West             2018                      1801.0
                           2019                      1782.0
                           2020                      1841.0
Zuiderpark                 2018                       660.0
                           2019                       636.0
                           2020                       677.0

                                 Potential labour force  \
Neighbourhood              Year
De Reef                    2018                   112.0
                           2019                    99.0
                           2020                   153.0
De Rivieren                2018                    22.0
                           2019                    23.0
                           2020                    22.0
Kerketuinen en Zichtenburg 2018                    48.0
                           2019                    56.0
                           2020                   106.0
Oostduinen                 2018                     0.0
                           2019                     0.0
                           2020                     0.0
Vlietzoom-Oost             2018                    62.0
                           2019                    57.0
                           2020                    57.0
Vlietzoom-West             2018                   111.0
                           2019                    98.0
                           2020                   100.0
Zuiderpark                 2018                    23.0
                           2019                    26.0
                           2020                    38.0

                                Average number of private cars per address (excluding lease cars)  \
Neighbourhood              Year
De Reef                    2018                                                  x
                           2019                                                  x
                           2020                                                  x
De Rivieren                2018                                                  x
                           2019                                                  x
                           2020                                                  x
Kerketuinen en Zichtenburg 2018                                                  x
                           2019                                                  x
                           2020                                                  x
Oostduinen                 2018                                                  x
                           2019                                                  x
                           2020                                                  x
Vlietzoom-Oost             2018                                                  x
                           2019                                                  x
                           2020                                                  x
Vlietzoom-West             2018                                                  x
                           2019                                                  x
                           2020                                                  x
Zuiderpark                 2018                                                  x
                           2019                                                  x
                           2020                                                  x

                                 All offences % Dutch natives  \
Neighbourhood              Year
De Reef                    2018          47.0               x
                           2019          40.0               x
                           2020          22.0            13.6
De Rivieren                2018         129.0           100.0
                           2019         177.0           100.0
                           2020         127.0           100.0
Kerketuinen en Zichtenburg 2018         225.0            43.1
                           2019         227.0            50.8
                           2020         189.0            43.1
Oostduinen                 2018          42.0               0
                           2019          43.0               0
                           2020          30.0               0
Vlietzoom-Oost             2018          41.0            83.7
                           2019          45.0            83.5
                           2020          49.0            81.8
Vlietzoom-West             2018          43.0            84.9
                           2019          52.0            86.9
                           2020          71.0            84.2
Zuiderpark                 2018         194.0            81.1
                           2019         217.0            77.1
                           2020         172.0            71.8

                                 Average personal income of individuals, 52 weeks  \
Neighbourhood              Year
De Reef                    2018                                           11600.0
                           2019                                               NaN
                           2020                                               NaN
De Rivieren                2018                                               NaN
                           2019                                               NaN
                           2020                                               NaN
Kerketuinen en Zichtenburg 2018                                               NaN
                           2019                                               NaN
                           2020                                               NaN
Oostduinen                 2018                                               NaN
                           2019                                               NaN
                           2020                                               NaN
Vlietzoom-Oost             2018                                               NaN
                           2019                                               NaN
                           2020                                               NaN
Vlietzoom-West             2018                                           40700.0
                           2019                                               NaN
                           2020                                               NaN
Zuiderpark                 2018                                           21700.0
                           2019                                               NaN
                           2020                                               NaN

                                 Number of inhabitants Population density  \
Neighbourhood              Year
De Reef                    2018                    110                214
                           2019                     95                185
                           2020                    170                336
De Rivieren                2018                     20                 14
                           2019                     40                 24
                           2020                     35                 24
Kerketuinen en Zichtenburg 2018                     50                 62
                           2019                     55                 72
                           2020                    105                133
Oostduinen                 2018                      0                  .
                           2019                      0                  .
                           2020                      0                  .
Vlietzoom-Oost             2018                    100                 80
                           2019                     95                 75
                           2020                     95                 74
Vlietzoom-West             2018                    170                 92
                           2019                    165                 90
                           2020                    170                 91
Zuiderpark                 2018                    160                164
                           2019                    155                158
                           2020                    165                171

                                 65 or older  Single person households  \
Neighbourhood              Year
De Reef                    2018            0                       115
                           2019            0                        95
                           2020            0                       115
De Rivieren                2018            0                         5
                           2019            0                         5
                           2020            0                         0
Kerketuinen en Zichtenburg 2018            5                         5
                           2019            0                        10
                           2020            5                        50
Oostduinen                 2018            0                         0
                           2019            0                         0
                           2020            0                         0
Vlietzoom-Oost             2018           35                        15
                           2019           35                        15
                           2020           30                        10
Vlietzoom-West             2018           35                        45
                           2019           40                        40
                           2020           40                        40
Zuiderpark                 2018           95                        95
                           2019           90                        95
                           2020           90                        95

                                 Households without children  \
Neighbourhood              Year
De Reef                    2018                            0
                           2019                            5
                           2020                            5
De Rivieren                2018                            5
                           2019                            5
                           2020                            5
Kerketuinen en Zichtenburg 2018                            5
                           2019                            5
                           2020                            5
Oostduinen                 2018                            0
                           2019                            0
                           2020                            0
Vlietzoom-Oost             2018                           20
                           2019                           20
                           2020                           20
Vlietzoom-West             2018                           20
                           2019                           20
                           2020                           15
Zuiderpark                 2018                           25
                           2019                           25
                           2020                           25

                                 Households with children  \
Neighbourhood              Year
De Reef                    2018                         0
                           2019                         0
                           2020                        15
De Rivieren                2018                         5
                           2019                        10
                           2020                        10
Kerketuinen en Zichtenburg 2018                         5
                           2019                         5
                           2020                         5
Oostduinen                 2018                         0
                           2019                         0
                           2020                         0
Vlietzoom-Oost             2018                        15
                           2019                        15
                           2020                        15
Vlietzoom-West             2018                        25
                           2019                        25
                           2020                        30
Zuiderpark                 2018                         5
                           2019                         5
                           2020                        10

                                Person with disability benefit Distance to GP  \
Neighbourhood              Year
De Reef                    2018                              0            0,7
                           2019                              0            0,7
                           2020                              0            0,8
De Rivieren                2018                              .            1,2
                           2019                              .            1,1
                           2020                              .            1,1
Kerketuinen en Zichtenburg 2018                             20            0,7
                           2019                             20            0,7
                           2020                             30            0,8
Oostduinen                 2018                              .            NaN
                           2019                              .            NaN
                           2020                              .              .
Vlietzoom-Oost             2018                              0            0,8
                           2019                              0            0,8
                           2020                              0            0,8
Vlietzoom-West             2018                             10            1,0
                           2019                             10            0,8
                           2020                             10            0,7
Zuiderpark                 2018                             10            0,9
                           2019                             10            0,9
                           2020                             10            0,9

                                Low-income households  \
Neighbourhood              Year
De Reef                    2018                     .
                           2019                     .
                           2020                   NaN
De Rivieren                2018                     .
                           2019                     .
                           2020                   NaN
Kerketuinen en Zichtenburg 2018                     .
                           2019                     .
                           2020                   NaN
Oostduinen                 2018                     .
                           2019                     .
                           2020                   NaN
Vlietzoom-Oost             2018                     .
                           2019                     .
                           2020                   NaN
Vlietzoom-West             2018                     .
                           2019                     .
                           2020                   NaN
Zuiderpark                 2018                   8,3
                           2019                  13,6
                           2020                   NaN

                                Median wealth of private households
Neighbourhood              Year
De Reef                    2018                                 0,1
                           2019                                   .
                           2020                                 NaN
De Rivieren                2018                                   .
                           2019                                   .
                           2020                                 NaN
Kerketuinen en Zichtenburg 2018                                   .
                           2019                                   .
                           2020                                 NaN
Oostduinen                 2018                                   .
                           2019                                   .
                           2020                                 NaN
Vlietzoom-Oost             2018                                   .
                           2019                                   .
                           2020                                 NaN
Vlietzoom-West             2018                                   .
                           2019                                   .
                           2020                                 NaN
Zuiderpark                 2018                                 3,3
                           2019                                 2,4
                           2020                                 NaN

_________________________________________________________________________________________________________________________________________________

In [121]:
test = merged[merged["Average number of private cars per address (excluding lease cars)"] != "x"].copy()

In [122]:
test.head()

                    Number of employed persons  Potential labour force  \
Neighbourhood Year
Archipelbuurt 2018                      5231.0                  3943.0
              2019                      4934.0                  3976.0
              2020                      5408.0                  3956.0
Arendsdorp    2018                      2479.0                   701.0
              2019                      2478.0                   742.0

                   Average number of private cars per address (excluding lease cars)  \
Neighbourhood Year
Archipelbuurt 2018                                               0.61
              2019                                               0.61
              2020                                               0.61
Arendsdorp    2018                                               0.88
              2019                                               0.87

                    All offences % Dutch natives  \
Neighbourhood Year
Archipelbuurt 2018         269.0            57.9
              2019         275.0            57.5
              2020         339.0            57.3
Arendsdorp    2018          69.0            57.8
              2019          75.0            55.2

                    Average personal income of individuals, 52 weeks  \
Neighbourhood Year
Archipelbuurt 2018                                           72200.0
              2019                                               NaN
              2020                                               NaN
Arendsdorp    2018                                           76700.0
              2019                                               NaN

                    Number of inhabitants Population density  65 or older  \
Neighbourhood Year
Archipelbuurt 2018                   6100               7014         1320
              2019                   6160               7087         1355
              2020                   6145               7066         1405
Arendsdorp    2018                   1305               2552          340
              2019                   1365               2669          350

                    Single person households  Households without children  \
Neighbourhood Year
Archipelbuurt 2018                      1855                          780
              2019                      1855                          805
              2020                      1855                          815
Arendsdorp    2018                       225                          125
              2019                       255                          130

                    Households with children Person with disability benefit  \
Neighbourhood Year
Archipelbuurt 2018                       735                            130
              2019                       740                            130
              2020                       740                            140
Arendsdorp    2018                       180                             10
              2019                       185                             10

                   Distance to GP Low-income households  \
Neighbourhood Year
Archipelbuurt 2018            0,3                   5,9
              2019            0,3                   6,9
              2020            0,3                   NaN
Arendsdorp    2018            0,6                   6,2
              2019            0,6                   4,5

                   Median wealth of private households
Neighbourhood Year
Archipelbuurt 2018                               109,5
              2019                               144,9
              2020                                 NaN
Arendsdorp    2018                               469,3
              2019                               549,9

In [123]:
test["Average number of private cars per address (excluding lease cars)"] = test["Average number of private cars per address (excluding lease cars)"].astype(float)

In [124]:
test.describe().T

,count,mean,std,min,25%,50%,75%,max
Number of employed persons,321.0,2484.931464,3131.350211,30.0,768.00,1491.00,2694.00,18071.00
Potential labour force,321.0,3442.538941,2301.935218,0.0,1457.00,3206.00,4958.00,10329.00
Average number of private cars per address (excluding lease cars),321.0,0.697664,0.264506,0.0,0.55,0.66,0.81,1.48
All offences,321.0,329.448598,298.847805,1.0,115.00,255.00,458.00,2376.00
"Average personal income of individuals, 52 weeks",105.0,38154.285714,15517.775345,19500.0,26200.00,34400.00,43600.00,86700.00
Number of inhabitants,321.0,5026.074766,3191.056841,0.0,2360.00,4765.00,7135.00,15170.00
65 or older,321.0,728.130841,511.342683,0.0,370.00,615.00,1030.00,2765.00
Single person households,321.0,1177.803738,908.488402,0.0,435.00,1005.00,1725.00,4315.00
Households without children,321.0,522.975078,346.297983,0.0,290.00,450.00,710.00,1845.00
Households with children,321.0,770.140187,536.522567,0.0,345.00,735.00,1100.00,2480.00

Considering that by adress lives a number of 3 people:

In [125]:
Mean_number_of_cars_per_person = 0.697220/3
print(Mean_number_of_cars_per_person)

0.23240666666666665

In [127]:
merged[merged["Average number of private cars per address (excluding lease cars)"] == "x"]

                                 Number of employed persons  \
Neighbourhood              Year
De Reef                    2018                       925.0
                           2019                       827.0
                           2020                       899.0
De Rivieren                2018                      9272.0
                           2019                      9169.0
                           2020                     11478.0
Kerketuinen en Zichtenburg 2018                      8025.0
                           2019                      8175.0
                           2020                      7282.0
Oostduinen                 2018                       996.0
                           2019                      1065.0
                           2020                      1134.0
Vlietzoom-Oost             2018                       742.0
                           2019                       760.0
                           2020                       728.0
Vlietzoom-West             2018                      1801.0
                           2019                      1782.0
                           2020                      1841.0
Zuiderpark                 2018                       660.0
                           2019                       636.0
                           2020                       677.0

                                 Potential labour force  \
Neighbourhood              Year
De Reef                    2018                   112.0
                           2019                    99.0
                           2020                   153.0
De Rivieren                2018                    22.0
                           2019                    23.0
                           2020                    22.0
Kerketuinen en Zichtenburg 2018                    48.0
                           2019                    56.0
                           2020                   106.0
Oostduinen                 2018                     0.0
                           2019                     0.0
                           2020                     0.0
Vlietzoom-Oost             2018                    62.0
                           2019                    57.0
                           2020                    57.0
Vlietzoom-West             2018                   111.0
                           2019                    98.0
                           2020                   100.0
Zuiderpark                 2018                    23.0
                           2019                    26.0
                           2020                    38.0

                                Average number of private cars per address (excluding lease cars)  \
Neighbourhood              Year
De Reef                    2018                                                  x
                           2019                                                  x
                           2020                                                  x
De Rivieren                2018                                                  x
                           2019                                                  x
                           2020                                                  x
Kerketuinen en Zichtenburg 2018                                                  x
                           2019                                                  x
                           2020                                                  x
Oostduinen                 2018                                                  x
                           2019                                                  x
                           2020                                                  x
Vlietzoom-Oost             2018                                                  x
                           2019                                                  x
                           2020                                                  x
Vlietzoom-West             2018                                                  x
                           2019                                                  x
                           2020                                                  x
Zuiderpark                 2018                                                  x
                           2019                                                  x
                           2020                                                  x

                                 All offences % Dutch natives  \
Neighbourhood              Year
De Reef                    2018          47.0               x
                           2019          40.0               x
                           2020          22.0            13.6
De Rivieren                2018         129.0           100.0
                           2019         177.0           100.0
                           2020         127.0           100.0
Kerketuinen en Zichtenburg 2018         225.0            43.1
                           2019         227.0            50.8
                           2020         189.0            43.1
Oostduinen                 2018          42.0               0
                           2019          43.0               0
                           2020          30.0               0
Vlietzoom-Oost             2018          41.0            83.7
                           2019          45.0            83.5
                           2020          49.0            81.8
Vlietzoom-West             2018          43.0            84.9
                           2019          52.0            86.9
                           2020          71.0            84.2
Zuiderpark                 2018         194.0            81.1
                           2019         217.0            77.1
                           2020         172.0            71.8

                                 Average personal income of individuals, 52 weeks  \
Neighbourhood              Year
De Reef                    2018                                           11600.0
                           2019                                               NaN
                           2020                                               NaN
De Rivieren                2018                                               NaN
                           2019                                               NaN
                           2020                                               NaN
Kerketuinen en Zichtenburg 2018                                               NaN
                           2019                                               NaN
                           2020                                               NaN
Oostduinen                 2018                                               NaN
                           2019                                               NaN
                           2020                                               NaN
Vlietzoom-Oost             2018                                               NaN
                           2019                                               NaN
                           2020                                               NaN
Vlietzoom-West             2018                                           40700.0
                           2019                                               NaN
                           2020                                               NaN
Zuiderpark                 2018                                           21700.0
                           2019                                               NaN
                           2020                                               NaN

                                 Number of inhabitants Population density  \
Neighbourhood              Year
De Reef                    2018                    110                214
                           2019                     95                185
                           2020                    170                336
De Rivieren                2018                     20                 14
                           2019                     40                 24
                           2020                     35                 24
Kerketuinen en Zichtenburg 2018                     50                 62
                           2019                     55                 72
                           2020                    105                133
Oostduinen                 2018                      0                  .
                           2019                      0                  .
                           2020                      0                  .
Vlietzoom-Oost             2018                    100                 80
                           2019                     95                 75
                           2020                     95                 74
Vlietzoom-West             2018                    170                 92
                           2019                    165                 90
                           2020                    170                 91
Zuiderpark                 2018                    160                164
                           2019                    155                158
                           2020                    165                171

                                 65 or older  Single person households  \
Neighbourhood              Year
De Reef                    2018            0                       115
                           2019            0                        95
                           2020            0                       115
De Rivieren                2018            0                         5
                           2019            0                         5
                           2020            0                         0
Kerketuinen en Zichtenburg 2018            5                         5
                           2019            0                        10
                           2020            5                        50
Oostduinen                 2018            0                         0
                           2019            0                         0
                           2020            0                         0
Vlietzoom-Oost             2018           35                        15
                           2019           35                        15
                           2020           30                        10
Vlietzoom-West             2018           35                        45
                           2019           40                        40
                           2020           40                        40
Zuiderpark                 2018           95                        95
                           2019           90                        95
                           2020           90                        95

                                 Households without children  \
Neighbourhood              Year
De Reef                    2018                            0
                           2019                            5
                           2020                            5
De Rivieren                2018                            5
                           2019                            5
                           2020                            5
Kerketuinen en Zichtenburg 2018                            5
                           2019                            5
                           2020                            5
Oostduinen                 2018                            0
                           2019                            0
                           2020                            0
Vlietzoom-Oost             2018                           20
                           2019                           20
                           2020                           20
Vlietzoom-West             2018                           20
                           2019                           20
                           2020                           15
Zuiderpark                 2018                           25
                           2019                           25
                           2020                           25

                                 Households with children  \
Neighbourhood              Year
De Reef                    2018                         0
                           2019                         0
                           2020                        15
De Rivieren                2018                         5
                           2019                        10
                           2020                        10
Kerketuinen en Zichtenburg 2018                         5
                           2019                         5
                           2020                         5
Oostduinen                 2018                         0
                           2019                         0
                           2020                         0
Vlietzoom-Oost             2018                        15
                           2019                        15
                           2020                        15
Vlietzoom-West             2018                        25
                           2019                        25
                           2020                        30
Zuiderpark                 2018                         5
                           2019                         5
                           2020                        10

                                Person with disability benefit Distance to GP  \
Neighbourhood              Year
De Reef                    2018                              0            0,7
                           2019                              0            0,7
                           2020                              0            0,8
De Rivieren                2018                              .            1,2
                           2019                              .            1,1
                           2020                              .            1,1
Kerketuinen en Zichtenburg 2018                             20            0,7
                           2019                             20            0,7
                           2020                             30            0,8
Oostduinen                 2018                              .            NaN
                           2019                              .            NaN
                           2020                              .              .
Vlietzoom-Oost             2018                              0            0,8
                           2019                              0            0,8
                           2020                              0            0,8
Vlietzoom-West             2018                             10            1,0
                           2019                             10            0,8
                           2020                             10            0,7
Zuiderpark                 2018                             10            0,9
                           2019                             10            0,9
                           2020                             10            0,9

                                Low-income households  \
Neighbourhood              Year
De Reef                    2018                     .
                           2019                     .
                           2020                   NaN
De Rivieren                2018                     .
                           2019                     .
                           2020                   NaN
Kerketuinen en Zichtenburg 2018                     .
                           2019                     .
                           2020                   NaN
Oostduinen                 2018                     .
                           2019                     .
                           2020                   NaN
Vlietzoom-Oost             2018                     .
                           2019                     .
                           2020                   NaN
Vlietzoom-West             2018                     .
                           2019                     .
                           2020                   NaN
Zuiderpark                 2018                   8,3
                           2019                  13,6
                           2020                   NaN

                                Median wealth of private households
Neighbourhood              Year
De Reef                    2018                                 0,1
                           2019                                   .
                           2020                                 NaN
De Rivieren                2018                                   .
                           2019                                   .
                           2020                                 NaN
Kerketuinen en Zichtenburg 2018                                   .
                           2019                                   .
                           2020                                 NaN
Oostduinen                 2018                                   .
                           2019                                   .
                           2020                                 NaN
Vlietzoom-Oost             2018                                   .
                           2019                                   .
                           2020                                 NaN
Vlietzoom-West             2018                                   .
                           2019                                   .
                           2020                                 NaN
Zuiderpark                 2018                                 3,3
                           2019                                 2,4
                           2020                                 NaN

#### % Dutch natives

In [128]:
merged[merged["% Dutch natives"] == "x"]

                    Number of employed persons  Potential labour force  \
Neighbourhood Year
De Reef       2018                       925.0                   112.0
              2019                       827.0                    99.0

                   Average number of private cars per address (excluding lease cars)  \
Neighbourhood Year
De Reef       2018                                                  x
              2019                                                  x

                    All offences % Dutch natives  \
Neighbourhood Year
De Reef       2018          47.0               x
              2019          40.0               x

                    Average personal income of individuals, 52 weeks  \
Neighbourhood Year
De Reef       2018                                           11600.0
              2019                                               NaN

                    Number of inhabitants Population density  65 or older  \
Neighbourhood Year
De Reef       2018                    110                214            0
              2019                     95                185            0

                    Single person households  Households without children  \
Neighbourhood Year
De Reef       2018                       115                            0
              2019                        95                            5

                    Households with children Person with disability benefit  \
Neighbourhood Year
De Reef       2018                         0                              0
              2019                         0                              0

                   Distance to GP Low-income households  \
Neighbourhood Year
De Reef       2018            0,7                     .
              2019            0,7                     .

                   Median wealth of private households
Neighbourhood Year
De Reef       2018                                 0,1
              2019                                   .

Neighbourhoods with few or no people. Possibly there are no Dutch natives in those regions, so all xs are replaced by zero:

In [129]:
merged['% Dutch natives'].replace({'x': 0}, inplace=True)

#### Population density

In [130]:
merged[merged["Population density"] == "."]

                       Number of employed persons  Potential labour force  \
Neighbourhood    Year
Oostduinen       2018                       996.0                     0.0
                 2019                      1065.0                     0.0
                 2020                      1134.0                     0.0
Tedingerbuurt    2018                        30.0                     0.0
                 2019                        94.0                     0.0
                 2020                       113.0                     0.0
Vliegeniersbuurt 2018                      2292.0                     0.0
                 2019                      2408.0                     0.0
                 2020                      2573.0                     0.0

                      Average number of private cars per address (excluding lease cars)  \
Neighbourhood    Year
Oostduinen       2018                                                  x
                 2019                                                  x
                 2020                                                  x
Tedingerbuurt    2018                                                  0
                 2019                                                  0
                 2020                                                  0
Vliegeniersbuurt 2018                                                  0
                 2019                                                  0
                 2020                                                  0

                       All offences % Dutch natives  \
Neighbourhood    Year
Oostduinen       2018          42.0               0
                 2019          43.0               0
                 2020          30.0               0
Tedingerbuurt    2018           3.0               0
                 2019           1.0               0
                 2020           3.0               0
Vliegeniersbuurt 2018         129.0               0
                 2019         176.0               0
                 2020         178.0               0

                       Average personal income of individuals, 52 weeks  \
Neighbourhood    Year
Oostduinen       2018                                               NaN
                 2019                                               NaN
                 2020                                               NaN
Tedingerbuurt    2018                                               NaN
                 2019                                               NaN
                 2020                                               NaN
Vliegeniersbuurt 2018                                               NaN
                 2019                                               NaN
                 2020                                               NaN

                       Number of inhabitants Population density  65 or older  \
Neighbourhood    Year
Oostduinen       2018                      0                  .            0
                 2019                      0                  .            0
                 2020                      0                  .            0
Tedingerbuurt    2018                      0                  .            0
                 2019                      0                  .            0
                 2020                      0                  .            0
Vliegeniersbuurt 2018                      0                  .            0
                 2019                      0                  .            0
                 2020                      0                  .            0

                       Single person households  Households without children  \
Neighbourhood    Year
Oostduinen       2018                         0                            0
                 2019                         0                            0
                 2020                         0                            0
Tedingerbuurt    2018                         0                            0
                 2019                         0                            0
                 2020                         0                            0
Vliegeniersbuurt 2018                         0                            0
                 2019                         0                            0
                 2020                         0                            0

                       Households with children  \
Neighbourhood    Year
Oostduinen       2018                         0
                 2019                         0
                 2020                         0
Tedingerbuurt    2018                         0
                 2019                         0
                 2020                         0
Vliegeniersbuurt 2018                         0
                 2019                         0
                 2020                         0

                      Person with disability benefit Distance to GP  \
Neighbourhood    Year
Oostduinen       2018                              .            NaN
                 2019                              .            NaN
                 2020                              .              .
Tedingerbuurt    2018                              .            NaN
                 2019                              .            NaN
                 2020                              .              .
Vliegeniersbuurt 2018                              .            NaN
                 2019                              .            NaN
                 2020                              .              .

                      Low-income households  \
Neighbourhood    Year
Oostduinen       2018                     .
                 2019                     .
                 2020                   NaN
Tedingerbuurt    2018                     .
                 2019                     .
                 2020                   NaN
Vliegeniersbuurt 2018                     .
                 2019                     .
                 2020                   NaN

                      Median wealth of private households
Neighbourhood    Year
Oostduinen       2018                                   .
                 2019                                   .
                 2020                                 NaN
Tedingerbuurt    2018                                   .
                 2019                                   .
                 2020                                 NaN
Vliegeniersbuurt 2018                                   .
                 2019                                   .
                 2020                                 NaN

Only exists data in "Population density" when "Number of inhabitants" == 0, so, the values are replaced with 0:

In [131]:
merged['Population density'].replace({'.': 0}, inplace=True)

#### Person with disability benefit

In [132]:
merged[merged["Person with disability benefit"] == "."]

                       Number of employed persons  Potential labour force  \
Neighbourhood    Year
De Rivieren      2018                      9272.0                    22.0
                 2019                      9169.0                    23.0
                 2020                     11478.0                    22.0
Oostduinen       2018                       996.0                     0.0
                 2019                      1065.0                     0.0
                 2020                      1134.0                     0.0
Tedingerbuurt    2018                        30.0                     0.0
                 2019                        94.0                     0.0
                 2020                       113.0                     0.0
Vliegeniersbuurt 2018                      2292.0                     0.0
                 2019                      2408.0                     0.0
                 2020                      2573.0                     0.0

                      Average number of private cars per address (excluding lease cars)  \
Neighbourhood    Year
De Rivieren      2018                                                  x
                 2019                                                  x
                 2020                                                  x
Oostduinen       2018                                                  x
                 2019                                                  x
                 2020                                                  x
Tedingerbuurt    2018                                                  0
                 2019                                                  0
                 2020                                                  0
Vliegeniersbuurt 2018                                                  0
                 2019                                                  0
                 2020                                                  0

                       All offences % Dutch natives  \
Neighbourhood    Year
De Rivieren      2018         129.0           100.0
                 2019         177.0           100.0
                 2020         127.0           100.0
Oostduinen       2018          42.0               0
                 2019          43.0               0
                 2020          30.0               0
Tedingerbuurt    2018           3.0               0
                 2019           1.0               0
                 2020           3.0               0
Vliegeniersbuurt 2018         129.0               0
                 2019         176.0               0
                 2020         178.0               0

                       Average personal income of individuals, 52 weeks  \
Neighbourhood    Year
De Rivieren      2018                                               NaN
                 2019                                               NaN
                 2020                                               NaN
Oostduinen       2018                                               NaN
                 2019                                               NaN
                 2020                                               NaN
Tedingerbuurt    2018                                               NaN
                 2019                                               NaN
                 2020                                               NaN
Vliegeniersbuurt 2018                                               NaN
                 2019                                               NaN
                 2020                                               NaN

                       Number of inhabitants Population density  65 or older  \
Neighbourhood    Year
De Rivieren      2018                     20                 14            0
                 2019                     40                 24            0
                 2020                     35                 24            0
Oostduinen       2018                      0                  0            0
                 2019                      0                  0            0
                 2020                      0                  0            0
Tedingerbuurt    2018                      0                  0            0
                 2019                      0                  0            0
                 2020                      0                  0            0
Vliegeniersbuurt 2018                      0                  0            0
                 2019                      0                  0            0
                 2020                      0                  0            0

                       Single person households  Households without children  \
Neighbourhood    Year
De Rivieren      2018                         5                            5
                 2019                         5                            5
                 2020                         0                            5
Oostduinen       2018                         0                            0
                 2019                         0                            0
                 2020                         0                            0
Tedingerbuurt    2018                         0                            0
                 2019                         0                            0
                 2020                         0                            0
Vliegeniersbuurt 2018                         0                            0
                 2019                         0                            0
                 2020                         0                            0

                       Households with children  \
Neighbourhood    Year
De Rivieren      2018                         5
                 2019                        10
                 2020                        10
Oostduinen       2018                         0
                 2019                         0
                 2020                         0
Tedingerbuurt    2018                         0
                 2019                         0
                 2020                         0
Vliegeniersbuurt 2018                         0
                 2019                         0
                 2020                         0

                      Person with disability benefit Distance to GP  \
Neighbourhood    Year
De Rivieren      2018                              .            1,2
                 2019                              .            1,1
                 2020                              .            1,1
Oostduinen       2018                              .            NaN
                 2019                              .            NaN
                 2020                              .              .
Tedingerbuurt    2018                              .            NaN
                 2019                              .            NaN
                 2020                              .              .
Vliegeniersbuurt 2018                              .            NaN
                 2019                              .            NaN
                 2020                              .              .

                      Low-income households  \
Neighbourhood    Year
De Rivieren      2018                     .
                 2019                     .
                 2020                   NaN
Oostduinen       2018                     .
                 2019                     .
                 2020                   NaN
Tedingerbuurt    2018                     .
                 2019                     .
                 2020                   NaN
Vliegeniersbuurt 2018                     .
                 2019                     .
                 2020                   NaN

                      Median wealth of private households
Neighbourhood    Year
De Rivieren      2018                                   .
                 2019                                   .
                 2020                                 NaN
Oostduinen       2018                                   .
                 2019                                   .
                 2020                                 NaN
Tedingerbuurt    2018                                   .
                 2019                                   .
                 2020                                 NaN
Vliegeniersbuurt 2018                                   .
                 2019                                   .
                 2020                                 NaN

"Number of inhabitants" == 0 (or really close to this value, so, one can consider that there are no resident in those neighbourhoods. All points are replaced with 0.

In [133]:
merged['Person with disability benefit'].replace({'.': 0}, inplace=True)

#### Low-income households

In [134]:
merged[merged["Low-income households"] == "."]

                                 Number of employed persons  \
Neighbourhood              Year
De Reef                    2018                       925.0
                           2019                       827.0
De Rivieren                2018                      9272.0
                           2019                      9169.0
Kerketuinen en Zichtenburg 2018                      8025.0
                           2019                      8175.0
Oostduinen                 2018                       996.0
                           2019                      1065.0
Tedingerbuurt              2018                        30.0
                           2019                        94.0
Vliegeniersbuurt           2018                      2292.0
                           2019                      2408.0
Vlietzoom-Oost             2018                       742.0
                           2019                       760.0
Vlietzoom-West             2018                      1801.0
                           2019                      1782.0

                                 Potential labour force  \
Neighbourhood              Year
De Reef                    2018                   112.0
                           2019                    99.0
De Rivieren                2018                    22.0
                           2019                    23.0
Kerketuinen en Zichtenburg 2018                    48.0
                           2019                    56.0
Oostduinen                 2018                     0.0
                           2019                     0.0
Tedingerbuurt              2018                     0.0
                           2019                     0.0
Vliegeniersbuurt           2018                     0.0
                           2019                     0.0
Vlietzoom-Oost             2018                    62.0
                           2019                    57.0
Vlietzoom-West             2018                   111.0
                           2019                    98.0

                                Average number of private cars per address (excluding lease cars)  \
Neighbourhood              Year
De Reef                    2018                                                  x
                           2019                                                  x
De Rivieren                2018                                                  x
                           2019                                                  x
Kerketuinen en Zichtenburg 2018                                                  x
                           2019                                                  x
Oostduinen                 2018                                                  x
                           2019                                                  x
Tedingerbuurt              2018                                                  0
                           2019                                                  0
Vliegeniersbuurt           2018                                                  0
                           2019                                                  0
Vlietzoom-Oost             2018                                                  x
                           2019                                                  x
Vlietzoom-West             2018                                                  x
                           2019                                                  x

                                 All offences % Dutch natives  \
Neighbourhood              Year
De Reef                    2018          47.0               0
                           2019          40.0               0
De Rivieren                2018         129.0           100.0
                           2019         177.0           100.0
Kerketuinen en Zichtenburg 2018         225.0            43.1
                           2019         227.0            50.8
Oostduinen                 2018          42.0               0
                           2019          43.0               0
Tedingerbuurt              2018           3.0               0
                           2019           1.0               0
Vliegeniersbuurt           2018         129.0               0
                           2019         176.0               0
Vlietzoom-Oost             2018          41.0            83.7
                           2019          45.0            83.5
Vlietzoom-West             2018          43.0            84.9
                           2019          52.0            86.9

                                 Average personal income of individuals, 52 weeks  \
Neighbourhood              Year
De Reef                    2018                                           11600.0
                           2019                                               NaN
De Rivieren                2018                                               NaN
                           2019                                               NaN
Kerketuinen en Zichtenburg 2018                                               NaN
                           2019                                               NaN
Oostduinen                 2018                                               NaN
                           2019                                               NaN
Tedingerbuurt              2018                                               NaN
                           2019                                               NaN
Vliegeniersbuurt           2018                                               NaN
                           2019                                               NaN
Vlietzoom-Oost             2018                                               NaN
                           2019                                               NaN
Vlietzoom-West             2018                                           40700.0
                           2019                                               NaN

                                 Number of inhabitants Population density  \
Neighbourhood              Year
De Reef                    2018                    110                214
                           2019                     95                185
De Rivieren                2018                     20                 14
                           2019                     40                 24
Kerketuinen en Zichtenburg 2018                     50                 62
                           2019                     55                 72
Oostduinen                 2018                      0                  0
                           2019                      0                  0
Tedingerbuurt              2018                      0                  0
                           2019                      0                  0
Vliegeniersbuurt           2018                      0                  0
                           2019                      0                  0
Vlietzoom-Oost             2018                    100                 80
                           2019                     95                 75
Vlietzoom-West             2018                    170                 92
                           2019                    165                 90

                                 65 or older  Single person households  \
Neighbourhood              Year
De Reef                    2018            0                       115
                           2019            0                        95
De Rivieren                2018            0                         5
                           2019            0                         5
Kerketuinen en Zichtenburg 2018            5                         5
                           2019            0                        10
Oostduinen                 2018            0                         0
                           2019            0                         0
Tedingerbuurt              2018            0                         0
                           2019            0                         0
Vliegeniersbuurt           2018            0                         0
                           2019            0                         0
Vlietzoom-Oost             2018           35                        15
                           2019           35                        15
Vlietzoom-West             2018           35                        45
                           2019           40                        40

                                 Households without children  \
Neighbourhood              Year
De Reef                    2018                            0
                           2019                            5
De Rivieren                2018                            5
                           2019                            5
Kerketuinen en Zichtenburg 2018                            5
                           2019                            5
Oostduinen                 2018                            0
                           2019                            0
Tedingerbuurt              2018                            0
                           2019                            0
Vliegeniersbuurt           2018                            0
                           2019                            0
Vlietzoom-Oost             2018                           20
                           2019                           20
Vlietzoom-West             2018                           20
                           2019                           20

                                 Households with children  \
Neighbourhood              Year
De Reef                    2018                         0
                           2019                         0
De Rivieren                2018                         5
                           2019                        10
Kerketuinen en Zichtenburg 2018                         5
                           2019                         5
Oostduinen                 2018                         0
                           2019                         0
Tedingerbuurt              2018                         0
                           2019                         0
Vliegeniersbuurt           2018                         0
                           2019                         0
Vlietzoom-Oost             2018                        15
                           2019                        15
Vlietzoom-West             2018                        25
                           2019                        25

                                Person with disability benefit Distance to GP  \
Neighbourhood              Year
De Reef                    2018                              0            0,7
                           2019                              0            0,7
De Rivieren                2018                              0            1,2
                           2019                              0            1,1
Kerketuinen en Zichtenburg 2018                             20            0,7
                           2019                             20            0,7
Oostduinen                 2018                              0            NaN
                           2019                              0            NaN
Tedingerbuurt              2018                              0            NaN
                           2019                              0            NaN
Vliegeniersbuurt           2018                              0            NaN
                           2019                              0            NaN
Vlietzoom-Oost             2018                              0            0,8
                           2019                              0            0,8
Vlietzoom-West             2018                             10            1,0
                           2019                             10            0,8

                                Low-income households  \
Neighbourhood              Year
De Reef                    2018                     .
                           2019                     .
De Rivieren                2018                     .
                           2019                     .
Kerketuinen en Zichtenburg 2018                     .
                           2019                     .
Oostduinen                 2018                     .
                           2019                     .
Tedingerbuurt              2018                     .
                           2019                     .
Vliegeniersbuurt           2018                     .
                           2019                     .
Vlietzoom-Oost             2018                     .
                           2019                     .
Vlietzoom-West             2018                     .
                           2019                     .

                                Median wealth of private households
Neighbourhood              Year
De Reef                    2018                                 0,1
                           2019                                   .
De Rivieren                2018                                   .
                           2019                                   .
Kerketuinen en Zichtenburg 2018                                   .
                           2019                                   .
Oostduinen                 2018                                   .
                           2019                                   .
Tedingerbuurt              2018                                   .
                           2019                                   .
Vliegeniersbuurt           2018                                   .
                           2019                                   .
Vlietzoom-Oost             2018                                   .
                           2019                                   .
Vlietzoom-West             2018                                   .
                           2019                                   .

_________________________________________________________________________________________________________________________________________________

#### Median wealth of private households

In [135]:
merged[merged["Median wealth of private households"] == "."]

                                 Number of employed persons  \
Neighbourhood              Year
De Reef                    2019                       827.0
De Rivieren                2018                      9272.0
                           2019                      9169.0
Kerketuinen en Zichtenburg 2018                      8025.0
                           2019                      8175.0
Oostduinen                 2018                       996.0
                           2019                      1065.0
Tedingerbuurt              2018                        30.0
                           2019                        94.0
Vliegeniersbuurt           2018                      2292.0
                           2019                      2408.0
Vlietzoom-Oost             2018                       742.0
                           2019                       760.0
Vlietzoom-West             2018                      1801.0
                           2019                      1782.0

                                 Potential labour force  \
Neighbourhood              Year
De Reef                    2019                    99.0
De Rivieren                2018                    22.0
                           2019                    23.0
Kerketuinen en Zichtenburg 2018                    48.0
                           2019                    56.0
Oostduinen                 2018                     0.0
                           2019                     0.0
Tedingerbuurt              2018                     0.0
                           2019                     0.0
Vliegeniersbuurt           2018                     0.0
                           2019                     0.0
Vlietzoom-Oost             2018                    62.0
                           2019                    57.0
Vlietzoom-West             2018                   111.0
                           2019                    98.0

                                Average number of private cars per address (excluding lease cars)  \
Neighbourhood              Year
De Reef                    2019                                                  x
De Rivieren                2018                                                  x
                           2019                                                  x
Kerketuinen en Zichtenburg 2018                                                  x
                           2019                                                  x
Oostduinen                 2018                                                  x
                           2019                                                  x
Tedingerbuurt              2018                                                  0
                           2019                                                  0
Vliegeniersbuurt           2018                                                  0
                           2019                                                  0
Vlietzoom-Oost             2018                                                  x
                           2019                                                  x
Vlietzoom-West             2018                                                  x
                           2019                                                  x

                                 All offences % Dutch natives  \
Neighbourhood              Year
De Reef                    2019          40.0               0
De Rivieren                2018         129.0           100.0
                           2019         177.0           100.0
Kerketuinen en Zichtenburg 2018         225.0            43.1
                           2019         227.0            50.8
Oostduinen                 2018          42.0               0
                           2019          43.0               0
Tedingerbuurt              2018           3.0               0
                           2019           1.0               0
Vliegeniersbuurt           2018         129.0               0
                           2019         176.0               0
Vlietzoom-Oost             2018          41.0            83.7
                           2019          45.0            83.5
Vlietzoom-West             2018          43.0            84.9
                           2019          52.0            86.9

                                 Average personal income of individuals, 52 weeks  \
Neighbourhood              Year
De Reef                    2019                                               NaN
De Rivieren                2018                                               NaN
                           2019                                               NaN
Kerketuinen en Zichtenburg 2018                                               NaN
                           2019                                               NaN
Oostduinen                 2018                                               NaN
                           2019                                               NaN
Tedingerbuurt              2018                                               NaN
                           2019                                               NaN
Vliegeniersbuurt           2018                                               NaN
                           2019                                               NaN
Vlietzoom-Oost             2018                                               NaN
                           2019                                               NaN
Vlietzoom-West             2018                                           40700.0
                           2019                                               NaN

                                 Number of inhabitants Population density  \
Neighbourhood              Year
De Reef                    2019                     95                185
De Rivieren                2018                     20                 14
                           2019                     40                 24
Kerketuinen en Zichtenburg 2018                     50                 62
                           2019                     55                 72
Oostduinen                 2018                      0                  0
                           2019                      0                  0
Tedingerbuurt              2018                      0                  0
                           2019                      0                  0
Vliegeniersbuurt           2018                      0                  0
                           2019                      0                  0
Vlietzoom-Oost             2018                    100                 80
                           2019                     95                 75
Vlietzoom-West             2018                    170                 92
                           2019                    165                 90

                                 65 or older  Single person households  \
Neighbourhood              Year
De Reef                    2019            0                        95
De Rivieren                2018            0                         5
                           2019            0                         5
Kerketuinen en Zichtenburg 2018            5                         5
                           2019            0                        10
Oostduinen                 2018            0                         0
                           2019            0                         0
Tedingerbuurt              2018            0                         0
                           2019            0                         0
Vliegeniersbuurt           2018            0                         0
                           2019            0                         0
Vlietzoom-Oost             2018           35                        15
                           2019           35                        15
Vlietzoom-West             2018           35                        45
                           2019           40                        40

                                 Households without children  \
Neighbourhood              Year
De Reef                    2019                            5
De Rivieren                2018                            5
                           2019                            5
Kerketuinen en Zichtenburg 2018                            5
                           2019                            5
Oostduinen                 2018                            0
                           2019                            0
Tedingerbuurt              2018                            0
                           2019                            0
Vliegeniersbuurt           2018                            0
                           2019                            0
Vlietzoom-Oost             2018                           20
                           2019                           20
Vlietzoom-West             2018                           20
                           2019                           20

                                 Households with children  \
Neighbourhood              Year
De Reef                    2019                         0
De Rivieren                2018                         5
                           2019                        10
Kerketuinen en Zichtenburg 2018                         5
                           2019                         5
Oostduinen                 2018                         0
                           2019                         0
Tedingerbuurt              2018                         0
                           2019                         0
Vliegeniersbuurt           2018                         0
                           2019                         0
Vlietzoom-Oost             2018                        15
                           2019                        15
Vlietzoom-West             2018                        25
                           2019                        25

                                Person with disability benefit Distance to GP  \
Neighbourhood              Year
De Reef                    2019                              0            0,7
De Rivieren                2018                              0            1,2
                           2019                              0            1,1
Kerketuinen en Zichtenburg 2018                             20            0,7
                           2019                             20            0,7
Oostduinen                 2018                              0            NaN
                           2019                              0            NaN
Tedingerbuurt              2018                              0            NaN
                           2019                              0            NaN
Vliegeniersbuurt           2018                              0            NaN
                           2019                              0            NaN
Vlietzoom-Oost             2018                              0            0,8
                           2019                              0            0,8
Vlietzoom-West             2018                             10            1,0
                           2019                             10            0,8

                                Low-income households  \
Neighbourhood              Year
De Reef                    2019                     .
De Rivieren                2018                     .
                           2019                     .
Kerketuinen en Zichtenburg 2018                     .
                           2019                     .
Oostduinen                 2018                     .
                           2019                     .
Tedingerbuurt              2018                     .
                           2019                     .
Vliegeniersbuurt           2018                     .
                           2019                     .
Vlietzoom-Oost             2018                     .
                           2019                     .
Vlietzoom-West             2018                     .
                           2019                     .

                                Median wealth of private households
Neighbourhood              Year
De Reef                    2019                                   .
De Rivieren                2018                                   .
                           2019                                   .
Kerketuinen en Zichtenburg 2018                                   .
                           2019                                   .
Oostduinen                 2018                                   .
                           2019                                   .
Tedingerbuurt              2018                                   .
                           2019                                   .
Vliegeniersbuurt           2018                                   .
                           2019                                   .
Vlietzoom-Oost             2018                                   .
                           2019                                   .
Vlietzoom-West             2018                                   .
                           2019                                   .

In [136]:
#merged['Median wealth of private households'].fillna(value = 0, inplace = True)

In [138]:
#ver depois de tratar missing data
merged.dtypes

Number of employed persons                                           float64
Potential labour force                                               float64
Average number of private cars per address (excluding lease cars)     object
All offences                                                         float64
% Dutch natives                                                       object
Average personal income of individuals, 52 weeks                     float64
Number of inhabitants                                                  int64
Population density                                                    object
65 or older                                                            int64
Single person households                                               int64
Households without children                                            int64
Households with children                                               int64
Person with disability benefit                                        object
Distance to GP                                                        object
Low-income households                                                 object
Median wealth of private households                                   object
dtype: object

In [139]:
merged["Number of employed persons"] = merged["Number of employed persons"].astype(int)
merged["Potential labour force"] = merged["Potential labour force"].astype(int)
#merged["Average number of private cars per address (excluding lease cars)"] = merged["Average number of private cars per address (excluding lease cars)"].astype(float)
merged["All offences"] = merged["All offences"].astype(int)
merged["% Dutch natives"] = merged["% Dutch natives"].astype(float)
merged["Population density"] = merged["Population density"].astype(int)
merged["Person with disability benefit"] = merged["Person with disability benefit"].astype(int)
merged["Distance to GP"] = merged["Distance to GP"].astype(float)
merged["Low-income households"] = merged["Low-income households"].astype(float)
merged["Median wealth of private households"] = merged["Median wealth of private households"].astype(float)

ValueError: could not convert string to float: '0,3'

# 112 calls dataset

In [140]:
calls_data_file = 'data/112_calls_data.csv'
calls_data = pd.read_csv(calls_data_file, index_col=0)

In [141]:
calls_data.head()

,pmeTimeStamp,pmeProtocol1,pmeProtocol2,pmeTarget,pmeMessage,pmePrio,pmePrioLevel,pmeDienst,pmeStrippedMessage,pmeStraat,...,pme_strId,pme_wplId,pme_gemId,pme_proId,pme_vrgId,pmeCapCodes,pmeLifeLiner,pme_catId,wplNam,gemName
pmeId,,,,,,,,,,,,,,,,,,,,,
12284699,2017-01-01 00:00:13,FLEX-A,1600,AORG,P 1 GEBOUWBRAND Van Heuven Goedhartlaan 2-8 UT...,P 1,1,B,GEBOUWBRAND Eenheid: UTR802,Van Heuven Goedhartlaan,...,181027,4628,357,10,5164,"706001,708442,708443,709563,2029569",\N,\N,Utrecht,Utrecht
12284700,2017-01-01 00:00:14,FLEX-A,1600,AORG,P 1 VOERTUIGBRAND Wulverhorstlaan UTR Eenh: UT...,P 1,1,B,VOERTUIGBRAND Eenheid: UTR902,Wulverhorstlaan,...,181244,4628,357,10,5164,"706001,708470,708473,709563,2029570",\N,\N,Utrecht,Utrecht
12284701,2017-01-01 00:00:23,FLEX-A,1600,AORG,Gelukkig Nieuwjaar,\N,\N,A,Gelukkig Nieuwjaar,\N,...,\N,\N,\N,\N,5167,"126171,126172,126354,2029568",\N,\N,\N,\N
12284702,2017-01-01 00:00:37,FLEX-A,1600,AORG,A1 Goudsbloemlaan 71-79 DHG 2565CP : 15101 Rit...,A1,1,A,15101 Ritnummer: 1,Goudsbloemlaan,...,199928,4896,391,12,5170,1520001,\N,\N,Den Haag,Den Haag
12284703,2017-01-01 00:00:39,FLEX-A,1600,AORG,"Prio 1 Noord Ringdijk - N207 20,1 MDT Wegvervo...",PRIO 1,1,P,Wegvervoer ongeval letsel,Noord Ringdijk,...,\N,4995,5187,12,5171,1533999,\N,\N,Moordrecht,Zuidplas

In [142]:
calls_data = calls_data[calls_data["gemName"] == "Den Haag"]

In [143]:
calls_data.head(3)

,pmeTimeStamp,pmeProtocol1,pmeProtocol2,pmeTarget,pmeMessage,pmePrio,pmePrioLevel,pmeDienst,pmeStrippedMessage,pmeStraat,...,pme_strId,pme_wplId,pme_gemId,pme_proId,pme_vrgId,pmeCapCodes,pmeLifeLiner,pme_catId,wplNam,gemName
pmeId,,,,,,,,,,,,,,,,,,,,,
12284702,2017-01-01 00:00:37,FLEX-A,1600,AORG,A1 Goudsbloemlaan 71-79 DHG 2565CP : 15101 Rit...,A1,1,A,15101 Ritnummer: 1,Goudsbloemlaan,...,199928,4896,391,12,5170,1520001,\N,\N,Den Haag,Den Haag
12284730,2017-01-01 00:04:52,FLEX-A,1600,AORG,P 1 Buitenbrand afval/rommel Drebbelstraat DHG...,P 1,1,B,Buitenbrand afval/rommel 7630,Drebbelstraat,...,199712,4896,391,12,5170,"1500148,1500632,1503902,2029568",\N,\N,Den Haag,Den Haag
12284734,2017-01-01 00:05:29,FLEX-A,1600,AORG,P 1 Gebouwbrand woning (VK: 12) Berberisstraat...,P 1,1,B,Gebouwbrand woning (VK: 12) 9591 7830 9634 7850,Berberisstraat,...,199326,4896,391,12,5170,"1500050,1500142,1500624,1500634,1503902,2029568",\N,\N,Den Haag,Den Haag

Variables selection

In [144]:
variables_tokeep = ['pmeTimeStamp', 'pmeDienst', 'pmeStraat','pmeHouseNumber', 'pmeZip', 'pmeRegionName', 'pmeLatitude', 'pmeLongitude', 'pmeLifeLiner', 'pme_strId', 'pme_gemId', 'pme_proId', 'pme_vrgId']

In [145]:
calls_data = calls_data[variables_tokeep]

In [146]:
calls_data.head()

,pmeTimeStamp,pmeDienst,pmeStraat,pmeHouseNumber,pmeZip,pmeRegionName,pmeLatitude,pmeLongitude,pmeLifeLiner,pme_strId,pme_gemId,pme_proId,pme_vrgId
pmeId,,,,,,,,,,,,,
12284702,2017-01-01 00:00:37,A,Goudsbloemlaan,79,2565CP,Den Haag,52.0768602,4.2607498,\N,199928,391,12,5170
12284730,2017-01-01 00:04:52,B,Drebbelstraat,\N,2522CP,Den Haag,52.0634443,4.3291551,\N,199712,391,12,5170
12284734,2017-01-01 00:05:29,B,Berberisstraat,\N,2565WT,Den Haag,52.0770760,4.2662500,\N,199326,391,12,5170
12284777,2017-01-01 00:11:56,B,Plein,24,2511CR,Den Haag,52.0803995,4.3154289,\N,201019,391,12,5170
12284781,2017-01-01 00:12:10,A,Zuiderparklaan,87,2574HC,Den Haag,52.0673801,4.2771779,\N,202018,391,12,5170

To obtain the year/month/day/time of the call

In [147]:
test_string = calls_data['pmeTimeStamp'][12284702]
test_string

'2017-01-01 00:00:37'

In [148]:
test_string.split(' ') # [0]=date, [1]=time

['2017-01-01', '00:00:37']

In [149]:
test_string.split(' ')[0].split('-') #[0]=year, [1]=month, [2]=day

['2017', '01', '01']

In [150]:
def get_year(string):

    year = string.split(' ')[0].split('-')[0]
     
    return year

# def get_month(string):

#     month = string.split(' ')[0].split('-')[1]
     
#     return month

# def get_day(string):

#     day = string.split(' ')[0].split('-')[2]
     
#     return day


# def get_time(string):

#     time = string.split(' ')[1]
     
#     return time

In [151]:
#to add collumn year
calls_data['year'] = calls_data.pmeTimeStamp.map(get_year)

# #to add collumn month
# calls_data['month'] = calls_data.pmeTimeStamp.map(get_month)

# #to add collumn day
# calls_data['day'] = calls_data.pmeTimeStamp.map(get_day)

# #to add collumn month
# calls_data['time'] = calls_data.pmeTimeStamp.map(get_time)

In [152]:
calls_data.head() #pmeLifeLiner diria que é para excluir (muitos N)

,pmeTimeStamp,pmeDienst,pmeStraat,pmeHouseNumber,pmeZip,pmeRegionName,pmeLatitude,pmeLongitude,pmeLifeLiner,pme_strId,pme_gemId,pme_proId,pme_vrgId,year
pmeId,,,,,,,,,,,,,,
12284702,2017-01-01 00:00:37,A,Goudsbloemlaan,79,2565CP,Den Haag,52.0768602,4.2607498,\N,199928,391,12,5170,2017
12284730,2017-01-01 00:04:52,B,Drebbelstraat,\N,2522CP,Den Haag,52.0634443,4.3291551,\N,199712,391,12,5170,2017
12284734,2017-01-01 00:05:29,B,Berberisstraat,\N,2565WT,Den Haag,52.0770760,4.2662500,\N,199326,391,12,5170,2017
12284777,2017-01-01 00:11:56,B,Plein,24,2511CR,Den Haag,52.0803995,4.3154289,\N,201019,391,12,5170,2017
12284781,2017-01-01 00:12:10,A,Zuiderparklaan,87,2574HC,Den Haag,52.0673801,4.2771779,\N,202018,391,12,5170,2017

In [153]:
calls_data = calls_data[calls_data.pmeDienst == 'A']
calls_data.head()

,pmeTimeStamp,pmeDienst,pmeStraat,pmeHouseNumber,pmeZip,pmeRegionName,pmeLatitude,pmeLongitude,pmeLifeLiner,pme_strId,pme_gemId,pme_proId,pme_vrgId,year
pmeId,,,,,,,,,,,,,,
12284702,2017-01-01 00:00:37,A,Goudsbloemlaan,79,2565CP,Den Haag,52.0768602,4.2607498,\N,199928,391,12,5170,2017
12284781,2017-01-01 00:12:10,A,Zuiderparklaan,87,2574HC,Den Haag,52.0673801,4.2771779,\N,202018,391,12,5170,2017
12284809,2017-01-01 00:15:54,A,Middenstip,9,2492VT,Den Haag,52.0735557,4.4047482,\N,200727,391,12,5170,2017
12284833,2017-01-01 00:17:52,A,Keukenhoflaan,19,2548PC,Den Haag,52.0300043,4.2963787,\N,200360,391,12,5170,2017
12284971,2017-01-01 00:30:41,A,Mangaanstraat,86,2544DW,Den Haag,52.0495713,4.2515080,\N,200644,391,12,5170,2017

In [154]:
calls_data.shape

(212566, 14)

In [155]:
print(np.sum([calls_data.pmeLongitude == '\\N']))
print(np.sum([calls_data.pmeLatitude == '\\N']))

9
9

In [156]:
calls_data = calls_data[calls_data.pmeLongitude != '\\N']
calls_data = calls_data[calls_data.pmeLatitude != '\\N']

In [157]:
calls_test = gpd.GeoDataFrame(calls_data, geometry = gpd.points_from_xy(calls_data.pmeLongitude, calls_data.pmeLatitude))

In [158]:
calls_test.tail()

,pmeTimeStamp,pmeDienst,pmeStraat,pmeHouseNumber,pmeZip,pmeRegionName,pmeLatitude,pmeLongitude,pmeLifeLiner,pme_strId,pme_gemId,pme_proId,pme_vrgId,year,geometry
pmeId,,,,,,,,,,,,,,,
17060134,2020-08-30 19:05:44,A,\N,\N,\N,Den Haag,52.0698576,4.2911114,\N,\N,391,12,5170,2020,POINT (4.29111 52.06986)
17060143,2020-08-30 19:08:55,A,Mangaanstraat,\N,2544DV,Den Haag,52.0496832,4.2520242,\N,200644,391,12,5170,2020,POINT (4.25202 52.04968)
17060145,2020-08-30 19:09:27,A,Van der Capellenstraat,\N,2593XC,Den Haag,52.0835159,4.3455899,\N,201599,391,12,5170,2020,POINT (4.34559 52.08352)
17060180,2020-08-30 19:23:37,A,Van der Capellenstraat,\N,2593XC,Den Haag,52.0835159,4.3455899,\N,201599,391,12,5170,2020,POINT (4.34559 52.08352)
17060195,2020-08-30 19:28:40,A,Jacob Pronkstraat,\N,2584BR,Den Haag,52.1063517,4.2721608,\N,200212,391,12,5170,2020,POINT (4.27216 52.10635)

In [159]:
den_haag = gpd.read_file('data/neighborhoods.shp')

In [160]:
den_haag.head()

,neighb_cbs,neigb_cijf,geometry
0,Oostduinen,70 Oostduinen,"POLYGON ((4.30290 52.12832, 4.30298 52.12827, ..."
1,Belgisch Park,71 Belgisch Park,"POLYGON ((4.28056 52.11706, 4.28053 52.11706, ..."
2,Westbroekpark,73 Westbroekpark,"POLYGON ((4.29171 52.10745, 4.29181 52.10739, ..."
3,Duttendel,74 Duttendel,"POLYGON ((4.32252 52.10768, 4.32252 52.10766, ..."
4,Nassaubuurt,48 Nassaubuurt,"POLYGON ((4.31943 52.09247, 4.31943 52.09247, ..."

# Create a dataset per year of calls dataset

In [161]:
# Dataframe necessário para depois relacionarmos com os pontos
polys = gpd.GeoDataFrame(den_haag[["geometry","neighb_cbs"]])
polys

                                              geometry     neighb_cbs
0    POLYGON ((4.30290 52.12832, 4.30298 52.12827, ...     Oostduinen
1    POLYGON ((4.28056 52.11706, 4.28053 52.11706, ...  Belgisch Park
2    POLYGON ((4.29171 52.10745, 4.29181 52.10739, ...  Westbroekpark
3    POLYGON ((4.32252 52.10768, 4.32252 52.10766, ...      Duttendel
4    POLYGON ((4.31943 52.09247, 4.31943 52.09247, ...    Nassaubuurt
..                                                 ...            ...
109  POLYGON ((4.39709 52.07476, 4.39778 52.07496, ...    De Rivieren
110  POLYGON ((4.40245 52.06319, 4.40242 52.06314, ...       De Lanen
111  POLYGON ((4.40593 52.07659, 4.40607 52.07649, ...      De Velden
112  POLYGON ((4.41188 52.07213, 4.41192 52.07210, ...      De Vissen
113  POLYGON ((4.41539 52.05744, 4.41538 52.05707, ...      Rietbuurt

[114 rows x 2 columns]

<hr>

In [162]:
calls_test.year.unique()

array(['2017', '2018', '2019', '2020'], dtype=object)

In [163]:
#calls_test_2017 = calls_test[calls_test.year == '2017']
calls_test_2018 = calls_test[calls_test.year == '2018']
calls_test_2019 = calls_test[calls_test.year == '2019']
calls_test_2020 = calls_test[calls_test.year == '2020']

In [164]:
print( calls_test_2018.shape, calls_test_2019.shape, calls_test_2020.shape)

(58737, 15) (57347, 15) (36226, 15)

### 2017

In [165]:
#calls_test_2017.head(3)

In [166]:
#calls_test_2017["geometry"]

In [167]:
#points_2017 = gpd.GeoDataFrame(calls_test_2017[["geometry","pmeRegionName"]])

In [168]:
#points_2017

In [169]:
#dfsjoin_2017 = gpd.sjoin(polys, points_2017) #Spatial join Points to polygons
#dfpivot_2017 = pd.pivot_table(dfsjoin_2017, index='neighb_cbs', columns='pmeRegionName', aggfunc={'pmeRegionName':len})
#dfpivot_2017.columns = dfpivot_2017.columns.droplevel()

#dfpolynew_2017 = polys.merge(dfpivot_2017, how='left', on='neighb_cbs')

In [170]:
#final_2017 = dfpolynew_2017[["geometry","neighb_cbs","Den Haag"]]

In [171]:
#final_2017 = final_2017.rename(columns = {"Den Haag" : "Number of calls"})

In [172]:
#final_2017["Year"] = 2017

In [173]:
#final_2017

### 2018

In [174]:
calls_test_2018.head(3)

,pmeTimeStamp,pmeDienst,pmeStraat,pmeHouseNumber,pmeZip,pmeRegionName,pmeLatitude,pmeLongitude,pmeLifeLiner,pme_strId,pme_gemId,pme_proId,pme_vrgId,year,geometry
pmeId,,,,,,,,,,,,,,,
13558522,2018-01-01 00:04:08,A,Circusplein,5,2586CZ,Den Haag,52.1115165,4.2825402,\N,199533,391,12,5170,2018,POINT (4.28254 52.11152)
13558535,2018-01-01 00:06:48,A,Schoeplaan,123,2516WD,Den Haag,52.0636818,4.3345258,\N,201261,391,12,5170,2018,POINT (4.33453 52.06368)
13558577,2018-01-01 00:12:24,A,Isabellaland,\N,2591SW,Den Haag,52.0943762,4.3639420,\N,200187,391,12,5170,2018,POINT (4.36394 52.09438)

In [175]:
calls_test_2018["geometry"]

pmeId
13558522    POINT (4.28254 52.11152)
13558535    POINT (4.33453 52.06368)
13558577    POINT (4.36394 52.09438)
13558585    POINT (4.29111 52.06986)
13558611    POINT (4.27866 52.06980)
                      ...
14846764    POINT (4.33503 52.08254)
14846766    POINT (4.29245 52.06969)
14846825    POINT (4.29771 52.08816)
14846903    POINT (4.27568 52.07925)
14847207    POINT (4.32535 52.07052)
Name: geometry, Length: 58737, dtype: geometry

In [176]:
points_2018 = gpd.GeoDataFrame(calls_test_2018[["geometry","pmeRegionName"]])

In [177]:
points_2018

                          geometry pmeRegionName
pmeId
13558522  POINT (4.28254 52.11152)      Den Haag
13558535  POINT (4.33453 52.06368)      Den Haag
13558577  POINT (4.36394 52.09438)      Den Haag
13558585  POINT (4.29111 52.06986)      Den Haag
13558611  POINT (4.27866 52.06980)      Den Haag
...                            ...           ...
14846764  POINT (4.33503 52.08254)      Den Haag
14846766  POINT (4.29245 52.06969)      Den Haag
14846825  POINT (4.29771 52.08816)      Den Haag
14846903  POINT (4.27568 52.07925)      Den Haag
14847207  POINT (4.32535 52.07052)      Den Haag

[58737 rows x 2 columns]

In [178]:
dfsjoin_2018 = gpd.sjoin(polys, points_2018) #Spatial join Points to polygons
dfpivot_2018 = pd.pivot_table(dfsjoin_2018, index='neighb_cbs', columns='pmeRegionName', aggfunc={'pmeRegionName':len})
dfpivot_2018.columns = dfpivot_2018.columns.droplevel()

dfpolynew_2018 = polys.merge(dfpivot_2018, how='left', on='neighb_cbs')

C:\Users\UX430U\AppData\Local\Temp/ipykernel_13252/3998868518.py:1: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: EPSG:4326
Right CRS: None

  dfsjoin_2018 = gpd.sjoin(polys, points_2018) #Spatial join Points to polygons

In [179]:
final_2018 = dfpolynew_2018[["geometry","neighb_cbs","Den Haag"]]

In [180]:
final_2018 = final_2018.rename(columns = {"Den Haag" : "Number of calls"})

In [181]:
final_2018["Year"] = 2018

In [182]:
final_2018

,geometry,neighb_cbs,Number of calls,Year
0,"POLYGON ((4.30290 52.12832, 4.30298 52.12827, ...",Oostduinen,17.0,2018
1,"POLYGON ((4.28056 52.11706, 4.28053 52.11706, ...",Belgisch Park,569.0,2018
2,"POLYGON ((4.29171 52.10745, 4.29181 52.10739, ...",Westbroekpark,123.0,2018
3,"POLYGON ((4.32252 52.10768, 4.32252 52.10766, ...",Duttendel,185.0,2018
4,"POLYGON ((4.31943 52.09247, 4.31943 52.09247, ...",Nassaubuurt,130.0,2018
...,...,...,...,...
109,"POLYGON ((4.39709 52.07476, 4.39778 52.07496, ...",De Rivieren,179.0,2018
110,"POLYGON ((4.40245 52.06319, 4.40242 52.06314, ...",De Lanen,294.0,2018
111,"POLYGON ((4.40593 52.07659, 4.40607 52.07649, ...",De Velden,158.0,2018
112,"POLYGON ((4.41188 52.07213, 4.41192 52.07210, ...",De Vissen,367.0,2018
113,"POLYGON ((4.41539 52.05744, 4.41538 52.05707, ...",Rietbuurt,106.0,2018

### 2019

In [183]:
calls_test_2019.head(3)

,pmeTimeStamp,pmeDienst,pmeStraat,pmeHouseNumber,pmeZip,pmeRegionName,pmeLatitude,pmeLongitude,pmeLifeLiner,pme_strId,pme_gemId,pme_proId,pme_vrgId,year,geometry
pmeId,,,,,,,,,,,,,,,
14847315,2019-01-01 00:06:50,A,Rijswijkseweg,\N,2516EC,Den Haag,52.0705181,4.3253475,\N,201159,391,12,5170,2019,POINT (4.32535 52.07052)
14847678,2019-01-01 00:38:42,A,Fuutlaan,\N,2566SB,Den Haag,52.0785764,4.2476070,\N,199863,391,12,5170,2019,POINT (4.24761 52.07858)
14847813,2019-01-01 00:49:03,A,Vijverzicht,\N,2543AS,Den Haag,52.0428631,4.2657912,\N,201747,391,12,5170,2019,POINT (4.26579 52.04286)

In [184]:
calls_test_2019["geometry"]

pmeId
14847315    POINT (4.32535 52.07052)
14847678    POINT (4.24761 52.07858)
14847813    POINT (4.26579 52.04286)
14847830    POINT (4.27581 52.04282)
14847839    POINT (4.30078 52.06057)
                      ...
16185230    POINT (4.39519 52.05791)
16185338    POINT (4.40361 52.05682)
16185354    POINT (4.27000 52.04083)
16185362    POINT (4.31176 52.07416)
16185365    POINT (4.31176 52.07416)
Name: geometry, Length: 57347, dtype: geometry

In [185]:
points_2019 = gpd.GeoDataFrame(calls_test_2019[["geometry","pmeRegionName"]])

In [186]:
points_2019

                          geometry pmeRegionName
pmeId
14847315  POINT (4.32535 52.07052)      Den Haag
14847678  POINT (4.24761 52.07858)      Den Haag
14847813  POINT (4.26579 52.04286)      Den Haag
14847830  POINT (4.27581 52.04282)      Den Haag
14847839  POINT (4.30078 52.06057)      Den Haag
...                            ...           ...
16185230  POINT (4.39519 52.05791)      Den Haag
16185338  POINT (4.40361 52.05682)      Den Haag
16185354  POINT (4.27000 52.04083)      Den Haag
16185362  POINT (4.31176 52.07416)      Den Haag
16185365  POINT (4.31176 52.07416)      Den Haag

[57347 rows x 2 columns]

In [187]:
dfsjoin_2019 = gpd.sjoin(polys, points_2019) #Spatial join Points to polygons
dfpivot_2019 = pd.pivot_table(dfsjoin_2019, index='neighb_cbs', columns='pmeRegionName', aggfunc={'pmeRegionName':len})
dfpivot_2019.columns = dfpivot_2019.columns.droplevel()

dfpolynew_2019 = polys.merge(dfpivot_2019, how='left', on='neighb_cbs')

C:\Users\UX430U\AppData\Local\Temp/ipykernel_13252/2675286108.py:1: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: EPSG:4326
Right CRS: None

  dfsjoin_2019 = gpd.sjoin(polys, points_2019) #Spatial join Points to polygons

In [188]:
final_2019 = dfpolynew_2019[["geometry","neighb_cbs","Den Haag"]]

In [189]:
final_2019 = final_2019.rename(columns = {"Den Haag" : "Number of calls"})

In [190]:
final_2019["Year"] = 2019

In [191]:
final_2019

,geometry,neighb_cbs,Number of calls,Year
0,"POLYGON ((4.30290 52.12832, 4.30298 52.12827, ...",Oostduinen,13.0,2019
1,"POLYGON ((4.28056 52.11706, 4.28053 52.11706, ...",Belgisch Park,498.0,2019
2,"POLYGON ((4.29171 52.10745, 4.29181 52.10739, ...",Westbroekpark,176.0,2019
3,"POLYGON ((4.32252 52.10768, 4.32252 52.10766, ...",Duttendel,267.0,2019
4,"POLYGON ((4.31943 52.09247, 4.31943 52.09247, ...",Nassaubuurt,143.0,2019
...,...,...,...,...
109,"POLYGON ((4.39709 52.07476, 4.39778 52.07496, ...",De Rivieren,138.0,2019
110,"POLYGON ((4.40245 52.06319, 4.40242 52.06314, ...",De Lanen,317.0,2019
111,"POLYGON ((4.40593 52.07659, 4.40607 52.07649, ...",De Velden,179.0,2019
112,"POLYGON ((4.41188 52.07213, 4.41192 52.07210, ...",De Vissen,386.0,2019
113,"POLYGON ((4.41539 52.05744, 4.41538 52.05707, ...",Rietbuurt,112.0,2019

### 2020

In [192]:
calls_test_2020.head(3)

,pmeTimeStamp,pmeDienst,pmeStraat,pmeHouseNumber,pmeZip,pmeRegionName,pmeLatitude,pmeLongitude,pmeLifeLiner,pme_strId,pme_gemId,pme_proId,pme_vrgId,year,geometry
pmeId,,,,,,,,,,,,,,,
16185473,2020-01-01 00:07:12,A,Wenckebachstraat,\N,2522CH,Den Haag,52.0628760,4.3326810,\N,201865,391,12,5170,2020,POINT (4.33268 52.06288)
16185491,2020-01-01 00:09:43,A,Prinsegracht,\N,2512DV,Den Haag,52.0727256,4.3006517,\N,201059,391,12,5170,2020,POINT (4.30065 52.07273)
16185531,2020-01-01 00:13:44,A,Hoefkade,\N,2525HB,Den Haag,52.0622361,4.2994197,\N,200100,391,12,5170,2020,POINT (4.29942 52.06224)

In [193]:
calls_test_2020["geometry"]

pmeId
16185473    POINT (4.33268 52.06288)
16185491    POINT (4.30065 52.07273)
16185531    POINT (4.29942 52.06224)
16185535    POINT (4.27704 52.05093)
16185592    POINT (4.28211 52.11298)
                      ...
17060134    POINT (4.29111 52.06986)
17060143    POINT (4.25202 52.04968)
17060145    POINT (4.34559 52.08352)
17060180    POINT (4.34559 52.08352)
17060195    POINT (4.27216 52.10635)
Name: geometry, Length: 36226, dtype: geometry

In [194]:
points_2020 = gpd.GeoDataFrame(calls_test_2020[["geometry","pmeRegionName"]])

In [195]:
points_2020

                          geometry pmeRegionName
pmeId
16185473  POINT (4.33268 52.06288)      Den Haag
16185491  POINT (4.30065 52.07273)      Den Haag
16185531  POINT (4.29942 52.06224)      Den Haag
16185535  POINT (4.27704 52.05093)      Den Haag
16185592  POINT (4.28211 52.11298)      Den Haag
...                            ...           ...
17060134  POINT (4.29111 52.06986)      Den Haag
17060143  POINT (4.25202 52.04968)      Den Haag
17060145  POINT (4.34559 52.08352)      Den Haag
17060180  POINT (4.34559 52.08352)      Den Haag
17060195  POINT (4.27216 52.10635)      Den Haag

[36226 rows x 2 columns]

In [196]:
dfsjoin_2020 = gpd.sjoin(polys, points_2020) #Spatial join Points to polygons
dfpivot_2020 = pd.pivot_table(dfsjoin_2020, index='neighb_cbs', columns='pmeRegionName', aggfunc={'pmeRegionName':len})
dfpivot_2020.columns = dfpivot_2020.columns.droplevel()

dfpolynew_2020 = polys.merge(dfpivot_2020, how='left', on='neighb_cbs')

C:\Users\UX430U\AppData\Local\Temp/ipykernel_13252/2987628058.py:1: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: EPSG:4326
Right CRS: None

  dfsjoin_2020 = gpd.sjoin(polys, points_2020) #Spatial join Points to polygons

In [197]:
final_2020 = dfpolynew_2020[["geometry","neighb_cbs","Den Haag"]]

In [198]:
final_2020 = final_2020.rename(columns = {"Den Haag" : "Number of calls"})

In [199]:
final_2020["Year"] = 2020

In [200]:
final_2020

,geometry,neighb_cbs,Number of calls,Year
0,"POLYGON ((4.30290 52.12832, 4.30298 52.12827, ...",Oostduinen,7.0,2020
1,"POLYGON ((4.28056 52.11706, 4.28053 52.11706, ...",Belgisch Park,261.0,2020
2,"POLYGON ((4.29171 52.10745, 4.29181 52.10739, ...",Westbroekpark,133.0,2020
3,"POLYGON ((4.32252 52.10768, 4.32252 52.10766, ...",Duttendel,119.0,2020
4,"POLYGON ((4.31943 52.09247, 4.31943 52.09247, ...",Nassaubuurt,88.0,2020
...,...,...,...,...
109,"POLYGON ((4.39709 52.07476, 4.39778 52.07496, ...",De Rivieren,72.0,2020
110,"POLYGON ((4.40245 52.06319, 4.40242 52.06314, ...",De Lanen,234.0,2020
111,"POLYGON ((4.40593 52.07659, 4.40607 52.07649, ...",De Velden,103.0,2020
112,"POLYGON ((4.41188 52.07213, 4.41192 52.07210, ...",De Vissen,218.0,2020
113,"POLYGON ((4.41539 52.05744, 4.41538 52.05707, ...",Rietbuurt,59.0,2020

In [201]:
calls_all = pd.concat([final_2018, final_2019, final_2020], ignore_index=True)

In [202]:
calls_all

,geometry,neighb_cbs,Number of calls,Year
0,"POLYGON ((4.30290 52.12832, 4.30298 52.12827, ...",Oostduinen,17.0,2018
1,"POLYGON ((4.28056 52.11706, 4.28053 52.11706, ...",Belgisch Park,569.0,2018
2,"POLYGON ((4.29171 52.10745, 4.29181 52.10739, ...",Westbroekpark,123.0,2018
3,"POLYGON ((4.32252 52.10768, 4.32252 52.10766, ...",Duttendel,185.0,2018
4,"POLYGON ((4.31943 52.09247, 4.31943 52.09247, ...",Nassaubuurt,130.0,2018
...,...,...,...,...
337,"POLYGON ((4.39709 52.07476, 4.39778 52.07496, ...",De Rivieren,72.0,2020
338,"POLYGON ((4.40245 52.06319, 4.40242 52.06314, ...",De Lanen,234.0,2020
339,"POLYGON ((4.40593 52.07659, 4.40607 52.07649, ...",De Velden,103.0,2020
340,"POLYGON ((4.41188 52.07213, 4.41192 52.07210, ...",De Vissen,218.0,2020
341,"POLYGON ((4.41539 52.05744, 4.41538 52.05707, ...",Rietbuurt,59.0,2020

In [203]:
# cada neighbourhood deve ter 4 entradas
calls_all[calls_all['neighb_cbs'] == "Oostduinen"]

,geometry,neighb_cbs,Number of calls,Year
0,"POLYGON ((4.30290 52.12832, 4.30298 52.12827, ...",Oostduinen,17.0,2018
114,"POLYGON ((4.30290 52.12832, 4.30298 52.12827, ...",Oostduinen,13.0,2019
228,"POLYGON ((4.30290 52.12832, 4.30298 52.12827, ...",Oostduinen,7.0,2020

In [204]:
calls_all = calls_all.rename(columns = {"neighb_cbs": "Neighbourhood"})
calls_all.head(2)

,geometry,Neighbourhood,Number of calls,Year
0,"POLYGON ((4.30290 52.12832, 4.30298 52.12827, ...",Oostduinen,17.0,2018
1,"POLYGON ((4.28056 52.11706, 4.28053 52.11706, ...",Belgisch Park,569.0,2018

In [205]:
merged = merged.reset_index()

In [206]:
n_calls_all = list(calls_all["Neighbourhood"].unique())
n_merged = list(merged["Neighbourhood"].unique())

In [207]:
print(list(set(n_calls_all) - set(n_merged)))

['Kraayenstein']

In [208]:
print(list(set(n_merged) - set(n_calls_all)))

['Kraayenstein en Vroondaal']

In [209]:
calls_all[calls_all["Neighbourhood"] == 'Kraayenstein']

,geometry,Neighbourhood,Number of calls,Year
31,"POLYGON ((4.23657 52.05055, 4.23661 52.05051, ...",Kraayenstein,472.0,2018
145,"POLYGON ((4.23657 52.05055, 4.23661 52.05051, ...",Kraayenstein,543.0,2019
259,"POLYGON ((4.23657 52.05055, 4.23661 52.05051, ...",Kraayenstein,355.0,2020

In [210]:
merged[merged["Neighbourhood"] == 'Kraayenstein en Vroondaal']

,Neighbourhood,Year,Number of employed persons,Potential labour force,Average number of private cars per address (excluding lease cars),All offences,% Dutch natives,"Average personal income of individuals, 52 weeks",Number of inhabitants,Population density,65 or older,Single person households,Households without children,Households with children,Person with disability benefit,Distance to GP,Low-income households,Median wealth of private households
126,Kraayenstein en Vroondaal,2018,1433,3814,0.96,250,70.6,42600.0,5875,1945,1075,950,695,895,350,"1,7","5,6","43,7"
127,Kraayenstein en Vroondaal,2019,1560,4058,0.97,326,70.0,NaN,6255,2071,1095,945,730,960,380,"1,8","4,9","74,4"
128,Kraayenstein en Vroondaal,2020,1621,4378,0.97,302,69.3,NaN,6805,2253,1145,975,735,1095,380,"1,8",NaN,NaN

In [211]:
calls_all['Neighbourhood'].replace({'Kraayenstein': 'Kraayenstein en Vroondaal'}, inplace=True)

In [212]:
calls_all[calls_all["Neighbourhood"] == 'Kraayenstein en Vroondaal']

,geometry,Neighbourhood,Number of calls,Year
31,"POLYGON ((4.23657 52.05055, 4.23661 52.05051, ...",Kraayenstein en Vroondaal,472.0,2018
145,"POLYGON ((4.23657 52.05055, 4.23661 52.05051, ...",Kraayenstein en Vroondaal,543.0,2019
259,"POLYGON ((4.23657 52.05055, 4.23661 52.05051, ...",Kraayenstein en Vroondaal,355.0,2020

In [213]:
calls_all[calls_all["Neighbourhood"] == 'Kraayenstein']

Empty GeoDataFrame
Columns: [geometry, Neighbourhood, Number of calls, Year]
Index: []

In [214]:
len(calls_all["Neighbourhood"].unique())

114

# FINAL MERGE

In [215]:
dh_final = pd.merge(merged, calls_all, on=["Neighbourhood", "Year"], sort = [True, True], how="outer")

In [216]:
dh_final

,Neighbourhood,Year,Number of employed persons,Potential labour force,Average number of private cars per address (excluding lease cars),All offences,% Dutch natives,"Average personal income of individuals, 52 weeks",Number of inhabitants,Population density,65 or older,Single person households,Households without children,Households with children,Person with disability benefit,Distance to GP,Low-income households,Median wealth of private households,geometry,Number of calls
0,Archipelbuurt,2018,5231,3943,0.61,269,57.9,72200.0,6100,7014,1320,1855,780,735,130,"0,3","5,9","109,5","POLYGON ((4.30625 52.09663, 4.30628 52.09661, ...",1260.0
1,Archipelbuurt,2019,4934,3976,0.61,275,57.5,NaN,6160,7087,1355,1855,805,740,130,"0,3","6,9","144,9","POLYGON ((4.30625 52.09663, 4.30628 52.09661, ...",1094.0
2,Archipelbuurt,2020,5408,3956,0.61,339,57.3,NaN,6145,7066,1405,1855,815,740,140,"0,3",NaN,NaN,"POLYGON ((4.30625 52.09663, 4.30628 52.09661, ...",816.0
3,Arendsdorp,2018,2479,701,0.88,69,57.8,76700.0,1305,2552,340,225,125,180,10,"0,6","6,2","469,3","POLYGON ((4.32329 52.09921, 4.32388 52.09870, ...",173.0
4,Arendsdorp,2019,2478,742,0.87,75,55.2,NaN,1365,2669,350,255,130,185,10,"0,6","4,5","549,9","POLYGON ((4.32329 52.09921, 4.32388 52.09870, ...",132.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,Zuiderpark,2019,636,26,x,217,77.1,NaN,155,158,90,95,25,5,10,"0,9","13,6","2,4","POLYGON ((4.29213 52.05956, 4.29213 52.05956, ...",57.0
338,Zuiderpark,2020,677,38,x,172,71.8,NaN,165,171,90,95,25,10,10,"0,9",NaN,NaN,"POLYGON ((4.29213 52.05956, 4.29213 52.05956, ...",40.0
339,Zuidwal,2018,7484,5516,0.32,2341,42.4,29800.0,6885,13763,730,3000,850,670,290,"0,4","21,0","1,0","POLYGON ((4.31351 52.07827, 4.31362 52.07822, ...",1125.0
340,Zuidwal,2019,7455,5524,0.31,2376,41.3,NaN,6910,13811,770,2965,875,670,290,"0,3","20,9","1,0","POLYGON ((4.31351 52.07827, 4.31362 52.07822, ...",1177.0
341,Zuidwal,2020,7263,5541,0.29,1827,39.9,NaN,6980,13959,800,2995,875,675,290,"0,4",NaN,NaN,"POLYGON ((4.31351 52.07827, 4.31362 52.07822, ...",595.0

In [217]:
dh_final = dh_final.rename(columns={'Year': 'year'})

In [218]:
dh_final = dh_final.rename(columns={'Average personal income of individuals, 52 weeks': 'personal_income'})

In [219]:
dh_final = dh_final.drop('personal_income', axis=1)
dh_final.head()

,Neighbourhood,year,Number of employed persons,Potential labour force,Average number of private cars per address (excluding lease cars),All offences,% Dutch natives,Number of inhabitants,Population density,65 or older,Single person households,Households without children,Households with children,Person with disability benefit,Distance to GP,Low-income households,Median wealth of private households,geometry,Number of calls
0,Archipelbuurt,2018,5231,3943,0.61,269,57.9,6100,7014,1320,1855,780,735,130,"0,3","5,9","109,5","POLYGON ((4.30625 52.09663, 4.30628 52.09661, ...",1260.0
1,Archipelbuurt,2019,4934,3976,0.61,275,57.5,6160,7087,1355,1855,805,740,130,"0,3","6,9","144,9","POLYGON ((4.30625 52.09663, 4.30628 52.09661, ...",1094.0
2,Archipelbuurt,2020,5408,3956,0.61,339,57.3,6145,7066,1405,1855,815,740,140,"0,3",NaN,NaN,"POLYGON ((4.30625 52.09663, 4.30628 52.09661, ...",816.0
3,Arendsdorp,2018,2479,701,0.88,69,57.8,1305,2552,340,225,125,180,10,"0,6","6,2","469,3","POLYGON ((4.32329 52.09921, 4.32388 52.09870, ...",173.0
4,Arendsdorp,2019,2478,742,0.87,75,55.2,1365,2669,350,255,130,185,10,"0,6","4,5","549,9","POLYGON ((4.32329 52.09921, 4.32388 52.09870, ...",132.0

In [220]:
dh_final.set_index(["Neighbourhood", "year"], inplace=True)

In [221]:
dh_final["Distance to GP"]=dh_final["Distance to GP"].str.replace(',','.')
dh_final["Low-income households"]=dh_final["Low-income households"].str.replace(',','.')
dh_final["Median wealth of private households"]=dh_final["Median wealth of private households"].str.replace(',','.')

In [222]:
dh_final["Average number of private cars per address (excluding lease cars)"]=pd.to_numeric(dh_final['Average number of private cars per address (excluding lease cars)'], errors='coerce')
dh_final["Distance to GP"]=pd.to_numeric(dh_final['Distance to GP'], errors='coerce')
dh_final["Low-income households"]=pd.to_numeric(dh_final['Low-income households'], errors='coerce')
dh_final["Median wealth of private households"]=pd.to_numeric(dh_final['Median wealth of private households'], errors='coerce')

## GP

In [223]:
dh_final["Distance to GP"].isnull().sum()

9

In [224]:
def get_neighbourhoods_o(data_frame):
    names = []
    length = int(len(data_frame.index))
    i = 0
    while i < length:
        if data_frame.isnull().iloc[i]['Distance to GP'] == True:
            names.append(data_frame.index.get_level_values(0)[i])
        i+=1
    return names

print(get_neighbourhoods_o(dh_final))

['Oostduinen', 'Oostduinen', 'Oostduinen', 'Tedingerbuurt', 'Tedingerbuurt', 'Tedingerbuurt', 'Vliegeniersbuurt', 'Vliegeniersbuurt', 'Vliegeniersbuurt']

In [225]:
dh_final.head()

                    Number of employed persons  Potential labour force  \
Neighbourhood year
Archipelbuurt 2018                        5231                    3943
              2019                        4934                    3976
              2020                        5408                    3956
Arendsdorp    2018                        2479                     701
              2019                        2478                     742

                    Average number of private cars per address (excluding lease cars)  \
Neighbourhood year
Archipelbuurt 2018                                               0.61
              2019                                               0.61
              2020                                               0.61
Arendsdorp    2018                                               0.88
              2019                                               0.87

                    All offences  % Dutch natives  Number of inhabitants  \
Neighbourhood year
Archipelbuurt 2018           269             57.9                   6100
              2019           275             57.5                   6160
              2020           339             57.3                   6145
Arendsdorp    2018            69             57.8                   1305
              2019            75             55.2                   1365

                    Population density  65 or older  Single person households  \
Neighbourhood year
Archipelbuurt 2018                7014         1320                      1855
              2019                7087         1355                      1855
              2020                7066         1405                      1855
Arendsdorp    2018                2552          340                       225
              2019                2669          350                       255

                    Households without children  Households with children  \
Neighbourhood year
Archipelbuurt 2018                          780                       735
              2019                          805                       740
              2020                          815                       740
Arendsdorp    2018                          125                       180
              2019                          130                       185

                    Person with disability benefit  Distance to GP  \
Neighbourhood year
Archipelbuurt 2018                             130             0.3
              2019                             130             0.3
              2020                             140             0.3
Arendsdorp    2018                              10             0.6
              2019                              10             0.6

                    Low-income households  \
Neighbourhood year
Archipelbuurt 2018                    5.9
              2019                    6.9
              2020                    NaN
Arendsdorp    2018                    6.2
              2019                    4.5

                    Median wealth of private households  \
Neighbourhood year
Archipelbuurt 2018                                109.5
              2019                                144.9
              2020                                  NaN
Arendsdorp    2018                                469.3
              2019                                549.9

                                                             geometry  \
Neighbourhood year
Archipelbuurt 2018  POLYGON ((4.30625 52.09663, 4.30628 52.09661, ...
              2019  POLYGON ((4.30625 52.09663, 4.30628 52.09661, ...
              2020  POLYGON ((4.30625 52.09663, 4.30628 52.09661, ...
Arendsdorp    2018  POLYGON ((4.32329 52.09921, 4.32388 52.09870, ...
              2019  POLYGON ((4.32329 52.09921, 4.32388 52.09870, ...

                    Number of calls
Neighbourhood year
Archipelbuurt 2018           1260.0
              2019           1094.0
              2020            816.0
Arendsdorp    2018            173.0
              2019            132.0

In [226]:
mean_distance_to_GP = dh_final["Distance to GP"].mean()
mean_distance_to_GP

0.6366366366366383

Replace by mean of indicator "Distance to GP":

In [227]:
dh_final["Distance to GP"].fillna(mean_distance_to_GP, inplace=True)

In [228]:
dh_final=dh_final.rename(columns = {"Average number of private cars per address (excluding lease cars)": "cars"})

In [229]:
index=dh_final.index
print(index[0])

('Archipelbuurt', 2018)

In [230]:
Mean_carsp = 0.697220/3
print(Mean_carsp)

0.23240666666666665

In [231]:
dh_final.iloc[0].cars

0.61

In [232]:
for ind in index:
    a=dh_final.loc[ind, "cars"]
    b=dh_final.loc[ind, "Number of inhabitants"]
    if np.isnan(a)==True:
        dh_final.loc[ind, "cars"] = Mean_carsp*b

In [233]:
mean=dh_final["Median wealth of private households"].mean()

In [234]:
for ind in index:
    a=dh_final.loc[ind, "Median wealth of private households"]
    b=dh_final.loc[ind, "Population density"]
    ano=ind[1]
    if np.isnan(a)==True and ano==2018:
        if b==0:
            dh_final.loc[ind, "Median wealth of private households"]=0
        else:
            dh_final.loc[ind, "Median wealth of private households"]=mean
    if np.isnan(a)==True and ano==2019:
        if b==0:
            dh_final.loc[ind, "Median wealth of private households"]=0
        else:
            dh_final.loc[ind, "Median wealth of private households"]=mean

In [235]:
mean2=dh_final["Low-income households"].mean()

In [236]:
for ind in index:
    a=dh_final.loc[ind, "Low-income households"]
    b=dh_final.loc[ind, "Population density"]
    ano=ind[1]
    if np.isnan(a)==True and ano==2018:
        if b==0:
            dh_final.loc[ind, "Low-income households"]=0
        else:
            dh_final.loc[ind, "Low-income households"]=mean2
    if np.isnan(a)==True and ano==2019:
        if b==0:
            dh_final.loc[ind, "Low-income households"]=0
        else:
            dh_final.loc[ind, "Low-income households"]=mean2

In [237]:
dh_final.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 342 entries, ('Archipelbuurt', 2018) to ('Zuidwal', 2020)
Data columns (total 17 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Number of employed persons           342 non-null    int32
 1   Potential labour force               342 non-null    int32
 2   cars                                 342 non-null    float64
 3   All offences                         342 non-null    int32
 4   % Dutch natives                      342 non-null    float64
 5   Number of inhabitants                342 non-null    int64
 6   Population density                   342 non-null    int32
 7   65 or older                          342 non-null    int64
 8   Single person households             342 non-null    int64
 9   Households without children          342 non-null    int64
 10  Households with children             342 non-null    int64
 11  Person with disability benefit       342 non-null    int32
 12  Distance to GP                       342 non-null    float64
 13  Low-income households                228 non-null    float64
 14  Median wealth of private households  228 non-null    float64
 15  geometry                             342 non-null    geometry
 16  Number of calls                      342 non-null    float64
dtypes: float64(6), geometry(1), int32(5), int64(5)
memory usage: 52.7+ KB

In [238]:
for ind in index:
    a=dh_final.loc[ind, "Low-income households"]
    ano=ind[1]
    if np.isnan(a)==True and ano==2019:
        print(ind)

In [ ]:
dh_final.rename(columns = {"Number of employed persons" : "employed_persons", "Potential labour force" : "potential_labour_force", "cars" : "private_cars", "All offences" : "offences", "% Dutch natives" : "dutch_natives", "Number of inhabitants" : "n_inhabitants", "Population density" : "population_density", "65 or older" : "older_65", "Single person households" : "single_person_households", "Households without children" : "households_without_children", "Households with children" : "households_with_children", "Person with disability benefit" : "disability_benefit", "Distance to GP" : "distance_to_gp", "Low-income households" : "low_income_households", "Median wealth of private households" : "wealth_private_households", "Number of calls" : "number_calls"}, inplace = True)

In [239]:
dh_final.to_csv("data/dh_final.csv", index=True, header=True)

In [240]:
dh_final=dh_final.reset_index()

In [241]:
dh_final.set_index('Neighbourhood')

,year,Number of employed persons,Potential labour force,cars,All offences,% Dutch natives,Number of inhabitants,Population density,65 or older,Single person households,Households without children,Households with children,Person with disability benefit,Distance to GP,Low-income households,Median wealth of private households,geometry,Number of calls
Neighbourhood,,,,,,,,,,,,,,,,,,
Archipelbuurt,2018,5231,3943,0.610000,269,57.9,6100,7014,1320,1855,780,735,130,0.3,5.9,109.5,"POLYGON ((4.30625 52.09663, 4.30628 52.09661, ...",1260.0
Archipelbuurt,2019,4934,3976,0.610000,275,57.5,6160,7087,1355,1855,805,740,130,0.3,6.9,144.9,"POLYGON ((4.30625 52.09663, 4.30628 52.09661, ...",1094.0
Archipelbuurt,2020,5408,3956,0.610000,339,57.3,6145,7066,1405,1855,815,740,140,0.3,NaN,NaN,"POLYGON ((4.30625 52.09663, 4.30628 52.09661, ...",816.0
Arendsdorp,2018,2479,701,0.880000,69,57.8,1305,2552,340,225,125,180,10,0.6,6.2,469.3,"POLYGON ((4.32329 52.09921, 4.32388 52.09870, ...",173.0
Arendsdorp,2019,2478,742,0.870000,75,55.2,1365,2669,350,255,130,185,10,0.6,4.5,549.9,"POLYGON ((4.32329 52.09921, 4.32388 52.09870, ...",132.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zuiderpark,2019,636,26,36.023033,217,77.1,155,158,90,95,25,5,10,0.9,13.6,2.4,"POLYGON ((4.29213 52.05956, 4.29213 52.05956, ...",57.0
Zuiderpark,2020,677,38,38.347100,172,71.8,165,171,90,95,25,10,10,0.9,NaN,NaN,"POLYGON ((4.29213 52.05956, 4.29213 52.05956, ...",40.0
Zuidwal,2018,7484,5516,0.320000,2341,42.4,6885,13763,730,3000,850,670,290,0.4,21.0,1.0,"POLYGON ((4.31351 52.07827, 4.31362 52.07822, ...",1125.0
Zuidwal,2019,7455,5524,0.310000,2376,41.3,6910,13811,770,2965,875,670,290,0.3,20.9,1.0,"POLYGON ((4.31351 52.07827, 4.31362 52.07822, ...",1177.0
Zuidwal,2020,7263,5541,0.290000,1827,39.9,6980,13959,800,2995,875,675,290,0.4,NaN,NaN,"POLYGON ((4.31351 52.07827, 4.31362 52.07822, ...",595.0

In [242]:
dh_2018 = dh_final[dh_final.year == 2018]
dh_2018.head()

,Neighbourhood,year,Number of employed persons,Potential labour force,cars,All offences,% Dutch natives,Number of inhabitants,Population density,65 or older,Single person households,Households without children,Households with children,Person with disability benefit,Distance to GP,Low-income households,Median wealth of private households,geometry,Number of calls
0,Archipelbuurt,2018,5231,3943,0.61,269,57.9,6100,7014,1320,1855,780,735,130,0.3,5.9,109.5,"POLYGON ((4.30625 52.09663, 4.30628 52.09661, ...",1260.0
3,Arendsdorp,2018,2479,701,0.88,69,57.8,1305,2552,340,225,125,180,10,0.6,6.2,469.3,"POLYGON ((4.32329 52.09921, 4.32388 52.09870, ...",173.0
6,Belgisch Park,2018,3742,5310,0.72,460,63.4,8205,7747,1655,2115,1000,1095,220,0.8,7.1,76.0,"POLYGON ((4.28056 52.11706, 4.28053 52.11706, ...",569.0
9,Bezuidenhout-Midden,2018,10374,2994,0.56,421,52.2,4285,6908,550,1235,520,555,80,0.7,4.8,75.2,"POLYGON ((4.33470 52.08804, 4.33504 52.08776, ...",390.0
12,Bezuidenhout-Oost,2018,3518,6708,0.58,395,61.2,9010,11737,1200,2780,1425,1050,200,0.4,5.2,37.8,"POLYGON ((4.34235 52.09126, 4.34241 52.09121, ...",339.0

In [ ]:
dh_2018.rename(columns = {"Number of employed persons" : "employed_persons", "Potential labour force" : "potential_labour_force", "cars" : "private_cars", "All offences" : "offences", "% Dutch natives" : "dutch_natives", "Number of inhabitants" : "n_inhabitants", "Population density" : "population_density", "65 or older" : "older_65", "Single person households" : "single_person_households", "Households without children" : "households_without_children", "Households with children" : "households_with_children", "Person with disability benefit" : "disability_benefit", "Distance to GP" : "distance_to_gp", "Low-income households" : "low_income_households", "Median wealth of private households" : "wealth_private_households", "Number of calls" : "number_calls"}, inplace = True)

In [243]:
dh_2018.to_csv("data/2018.csv", index=True, header=True)

In [244]:
dh_2019 = dh_final[dh_final.year == 2019]

In [ ]:
dh_2019.rename(columns = {"Number of employed persons" : "employed_persons", "Potential labour force" : "potential_labour_force", "cars" : "private_cars", "All offences" : "offences", "% Dutch natives" : "dutch_natives", "Number of inhabitants" : "n_inhabitants", "Population density" : "population_density", "65 or older" : "older_65", "Single person households" : "single_person_households", "Households without children" : "households_without_children", "Households with children" : "households_with_children", "Person with disability benefit" : "disability_benefit", "Distance to GP" : "distance_to_gp", "Low-income households" : "low_income_households", "Median wealth of private households" : "wealth_private_households", "Number of calls" : "number_calls"}, inplace = True)

In [245]:
dh_2019.to_csv("data/2019.csv", index=True, header=True)

In [246]:
dh_2020 = dh_final[dh_final.year == 2020]

In [ ]:
dh_2020.rename(columns = {"Number of employed persons" : "employed_persons", "Potential labour force" : "potential_labour_force", "cars" : "private_cars", "All offences" : "offences", "% Dutch natives" : "dutch_natives", "Number of inhabitants" : "n_inhabitants", "Population density" : "population_density", "65 or older" : "older_65", "Single person households" : "single_person_households", "Households without children" : "households_without_children", "Households with children" : "households_with_children", "Person with disability benefit" : "disability_benefit", "Distance to GP" : "distance_to_gp", "Low-income households" : "low_income_households", "Median wealth of private households" : "wealth_private_households", "Number of calls" : "number_calls"}, inplace = True)

In [247]:
dh_2020.to_csv("data/2020.csv", index=True, header=True)

In [246]:
dh_final.set_index(["Neighbourhood", "year"], inplace=True)

In [247]:
dh_final.head(15)

                          Number of employed persons  Potential labour force  \
Neighbourhood       year
Archipelbuurt       2018                      5231.0                  3943.0
                    2019                      4934.0                  3976.0
                    2020                      5408.0                  3956.0
Arendsdorp          2018                      2479.0                   701.0
                    2019                      2478.0                   742.0
                    2020                      2407.0                   953.0
Belgisch Park       2018                      3742.0                  5310.0
                    2019                      3766.0                  5367.0
                    2020                      3826.0                  5381.0
Bezuidenhout-Midden 2018                     10374.0                  2994.0
                    2019                     11066.0                  3206.0
                    2020                     11225.0                  3309.0
Bezuidenhout-Oost   2018                      3518.0                  6708.0
                    2019                      3925.0                  6727.0
                    2020                      4256.0                  6713.0

                          cars  All offences % Dutch natives  \
Neighbourhood       year
Archipelbuurt       2018  0.61         269.0            57.9
                    2019  0.61         275.0            57.5
                    2020  0.61         339.0            57.3
Arendsdorp          2018  0.88          69.0            57.8
                    2019  0.87          75.0            55.2
                    2020  0.74          88.0            54.0
Belgisch Park       2018  0.72         460.0            63.4
                    2019  0.72         422.0            62.6
                    2020  0.72         459.0            61.8
Bezuidenhout-Midden 2018  0.56         421.0            52.2
                    2019  0.56         465.0            49.2
                    2020  0.54         501.0            48.2
Bezuidenhout-Oost   2018  0.58         395.0            61.2
                    2019  0.56         383.0            59.3
                    2020  0.55         458.0            57.9

                          Number of inhabitants Population density  \
Neighbourhood       year
Archipelbuurt       2018                   6100               7014
                    2019                   6160               7087
                    2020                   6145               7066
Arendsdorp          2018                   1305               2552
                    2019                   1365               2669
                    2020                   1705               3334
Belgisch Park       2018                   8205               7747
                    2019                   8245               7783
                    2020                   8350               7880
Bezuidenhout-Midden 2018                   4285               6908
                    2019                   4500               7253
                    2020                   4640               7485
Bezuidenhout-Oost   2018                   9010              11737
                    2019                   9045              11784
                    2020                   9065              11813

                          65 or older  Single person households  \
Neighbourhood       year
Archipelbuurt       2018         1320                      1855
                    2019         1355                      1855
                    2020         1405                      1855
Arendsdorp          2018          340                       225
                    2019          350                       255
                    2020          445                       325
Belgisch Park       2018         1655                      2115
                    2019         1680                      2080
                    2020         1710                      2100
Bezuidenhout-Midden 2018          550                      1235
                    2019          545                      1390
                    2020          555                      1430
Bezuidenhout-Oost   2018         1200                      2780
                    2019         1205                      2700
                    2020         1225                      2695

                          Households without children  \
Neighbourhood       year
Archipelbuurt       2018                          780
                    2019                          805
                    2020                          815
Arendsdorp          2018                          125
                    2019                          130
                    2020                          215
Belgisch Park       2018                         1000
                    2019                         1010
                    2020                         1025
Bezuidenhout-Midden 2018                          520
                    2019                          525
                    2020                          545
Bezuidenhout-Oost   2018                         1425
                    2019                         1490
                    2020                         1485

                          Households with children  \
Neighbourhood       year
Archipelbuurt       2018                       735
                    2019                       740
                    2020                       740
Arendsdorp          2018                       180
                    2019                       185
                    2020                       220
Belgisch Park       2018                      1095
                    2019                      1110
                    2020                      1125
Bezuidenhout-Midden 2018                       555
                    2019                       570
                    2020                       585
Bezuidenhout-Oost   2018                      1050
                    2019                      1045
                    2020                      1060

                         Person with disability benefit  Distance to GP  \
Neighbourhood       year
Archipelbuurt       2018                            130             0.3
                    2019                            130             0.3
                    2020                            140             0.3
Arendsdorp          2018                             10             0.6
                    2019                             10             0.6
                    2020                             10             0.6
Belgisch Park       2018                            220             0.8
                    2019                            220             0.7
                    2020                            210             0.7
Bezuidenhout-Midden 2018                             80             0.7
                    2019                             80             0.5
                    2020                             80             0.6
Bezuidenhout-Oost   2018                            200             0.4
                    2019                            200             0.4
                    2020                            190             0.4

                          Low-income households  \
Neighbourhood       year
Archipelbuurt       2018                    5.9
                    2019                    6.9
                    2020                    NaN
Arendsdorp          2018                    6.2
                    2019                    4.5
                    2020                    NaN
Belgisch Park       2018                    7.1
                    2019                    7.1
                    2020                    NaN
Bezuidenhout-Midden 2018                    4.8
                    2019                    6.2
                    2020                    NaN
Bezuidenhout-Oost   2018                    5.2
                    2019                    5.4
                    2020                    NaN

                          Median wealth of private households  \
Neighbourhood       year
Archipelbuurt       2018                                109.5
                    2019                                144.9
                    2020                                  NaN
Arendsdorp          2018                                469.3
                    2019                                549.9
                    2020                                  NaN
Belgisch Park       2018                                 76.0
                    2019                                104.2
                    2020                                  NaN
Bezuidenhout-Midden 2018                                 75.2
                    2019                                 76.6
                    2020                                  NaN
Bezuidenhout-Oost   2018                                 37.8
                    2019                                 63.9
                    2020                                  NaN

                                                                   geometry  \
Neighbourhood       year
Archipelbuurt       2018  POLYGON ((4.30625 52.09663, 4.30628 52.09661, ...
                    2019  POLYGON ((4.30625 52.09663, 4.30628 52.09661, ...
                    2020  POLYGON ((4.30625 52.09663, 4.30628 52.09661, ...
Arendsdorp          2018  POLYGON ((4.32329 52.09921, 4.32388 52.09870, ...
                    2019  POLYGON ((4.32329 52.09921, 4.32388 52.09870, ...
                    2020  POLYGON ((4.32329 52.09921, 4.32388 52.09870, ...
Belgisch Park       2018  POLYGON ((4.28056 52.11706, 4.28053 52.11706, ...
                    2019  POLYGON ((4.28056 52.11706, 4.28053 52.11706, ...
                    2020  POLYGON ((4.28056 52.11706, 4.28053 52.11706, ...
Bezuidenhout-Midden 2018  POLYGON ((4.33470 52.08804, 4.33504 52.08776, ...
                    2019  POLYGON ((4.33470 52.08804, 4.33504 52.08776, ...
                    2020  POLYGON ((4.33470 52.08804, 4.33504 52.08776, ...
Bezuidenhout-Oost   2018  POLYGON ((4.34235 52.09126, 4.34241 52.09121, ...
                    2019  POLYGON ((4.34235 52.09126, 4.34241 52.09121, ...
                    2020  POLYGON ((4.34235 52.09126, 4.34241 52.09121, ...

                          Number of calls
Neighbourhood       year
Archipelbuurt       2018           1260.0
                    2019           1094.0
                    2020            816.0
Arendsdorp          2018            173.0
                    2019            132.0
                    2020            117.0
Belgisch Park       2018            569.0
                    2019            498.0
                    2020            261.0
Bezuidenhout-Midden 2018            390.0
                    2019            424.0
                    2020            256.0
Bezuidenhout-Oost   2018            339.0
                    2019            376.0
                    2020            236.0

Average Personal Income

In [ ]:
print(np.sum([dh_final.personal_income.isnull()]))

In [ ]:
dh_test = dh_final[dh_final.personal_income.isnull()]
dh_test.tail()

In [ ]:
pd.set_option('display.max_rows', 500)
dh_test.apply(lambda x: sum(x.isnull().values), axis = 1)

* Do not use variable for 2019 & 2020 (many NAs)

In [ ]:
#Replaces the missing values with the respective column average
 
dh_final['personal_income'].fillna(value=dh_final['personal_income'].mean(),inplace=True)

dh_final.head()

In [ ]:
dh_final.info()

In [252]:
#to save final dataframe
dh_final.to_csv("data/final.csv", index=False, header=True)